[2013-12-19 18:59] macumber opened #1 "Several tests need updated XcelEDATariffSelectionandModelSetup"
Current measure has bug in it and looks in wrong directory for resource files, this has been fixed in the current measure

[2013-12-20 22:42] #1 closed, assigned to elainethale

[2014-10-23 20:14] ranchhand6 opened #12 "Output SQL version incompatibility"
On the latest branch master, dated 3 October 2014.  Am working with a local set of virtual machines under vagrant.  Am seeing this error while post-processing:

vagrant@os-server:/mnt/openstudio/analysis_a5498dc0-3d12-0132-16ba-10ddb1aa3316/data_point_aeb269f0-3d12-0132-37bb-080027331b07$ ruby post_process_monthly.rb
[openstudio.energyplus.SqlFile] <0> Trying unsupported EnergyPlus version 8.2
[op

[2014-11-03 21:48] nllong opened #13 "data_type vs value_type"
Variables have both a data_type and value_type.  Need to remove the value_type and rely only on one or the other. This will touch the Analysis gem and Workflow gem as well.

[code]

[2014-11-03 21:49] nllong opened #14 "enforce unique measure names in analyses"
Right now in order to enforce unique names, the variable/measure UUID is used instead of enforcing unique names.
32487a90-45c4-0132-c73b-14109fdf0b37.projection_factor: {

[2014-11-04 15:33] nllong opened #15 "remove large files from repo"
need to remove the following files from the repo recursively. This will require everyone to re-checkout the repo, so I am hesitant in doing this willy nilly.

Ideally move the testing to another repo as these are integration tests.
[code]

[2014-12-02 06:26] rHorsey opened #18 "Major chef_gem error causing fatal failure in openstudio_server recipe until new release"
Currently in [vagrant/chef/cookbooks/openstudio_server/recipes/users.rb](https://github.com/NREL/OpenStudio-server/blob/develop/vagrant/chef/cookbooks/openstudio_server/recipes/users.rb) line seven crashes the server configuration due to an "Illformed requirement [""]" where chef attempts to execute the ruby line `gem install facter -q --no-rdoc --no-ri -v ""`. This seems due to a known and recent

[2015-01-28 19:12] ranchhand6 opened #19 "Segmentation Fault in OpenStudio-server environment that doesn't seem to happen when running on desktop"
Having problems with the data-points segfaulting on one simulation in particular.  The simulation appears to run, but then faults when it tries to write the report.

Find below tail of stdout-energyplus

/mnt/openstudio/analysis_3b35196f-0a64-4b6a-bf8e-26b1e3e48e12/data_point_5c0ad502-75b8-4678-8e8e-484394be4073/run$ **tail stdout-energyplus**
Updating Shadowing Calculations, Start Date=12/17
Cont

[2015-02-06 02:51] macumber opened #20 "Design upload format for PAT projects"
Need a way to specify a batch of datapoints which all run different measures with different values.  PAT will switch to this format once it exists.

[2015-02-06 02:57] macumber opened #21 "Setup system to run in production mode"

[2015-02-06 02:57] macumber opened #22 "Track os-server uuid as separate uuid than openstudio uuid"
This is causing issues with testing as we want to be able to slightly change the analysis.json file (e.g. adding a new discrete value), but then you have to reset all of the UUIDs if you want to have it be in the same project database.

[2015-02-06 02:58] macumber opened #23 "Dynamic db indexing"
What is the bare minimum index needed for finding the data?

Are we going to regress the data via queries or map/reduce?

[2015-02-06 02:59] macumber opened #24 "Delete analysis directory upon deletion of analysis from database"
best to do this asynchronously but who would hold the process? Rails?

[2015-02-06 02:59] macumber opened #25 "Add statistics to the bottom of the parallel coordinate plots"

[2015-02-06 03:07] macumber opened #26 "Lock down AMIs"
- user for R
- File permissions
- user for delayed job
- move to supervisor?
- lock down ports via ufw / iptables on server

[2015-02-06 03:09] macumber opened #27 "Add job cancelled state"
Maybe belongs in workflow gem instead?

[2015-03-02 22:14] #19 closed, assigned to nobody

[2015-10-27 13:54] ljbrackney opened #39 "Issue with filtering on extremes of parallel coordinate plot"
Filtering on extreme values of parallel coordinate plot independent variables grays out all solutions.

[2015-11-25 00:08] #39 closed, assigned to nobody

[2015-11-25 00:14] #20 closed, assigned to nllong

[2015-11-25 01:29] rHorsey opened #49 "Set AMI's to read Master workflow-gem branch"
Waiting on https://github.com/NREL/OpenStudio-workflow-gem/issues/29

[2015-12-02 22:57] rHorsey opened #50 "Add OpenStudio Server Icon to the place where Icons go in web browsers"
Because we can. And I'm sure @kflemin would love the opportunity to rename the metatdata name field to Katherine Fleming's Open Studio Server

[2016-05-20 02:33] rHorsey opened #70 "failures during final_setup script"
https://github.com/NREL/OpenStudio-server/blob/develop/launch-instance/setup-final-changes.sh#L27-L30 and https://github.com/NREL/OpenStudio-server/blob/develop/launch-instance/setup-final-changes.sh#L34-L35 appear to no longer exist, and cause an 1 exit code from the setup_final_changes script. @nllong can we remove these commands, as it makes error codes from the AMI creation process confusing..

[2016-07-25 19:19] shorowit opened #85 "Allow OS Cloud Management Console on AWS Instance stop/restart"
I was hoping that I could stop the OpenStudio-Server AWS Instance and later restart it to get back to the OS Cloud Management Console in order to view datapoints, download files, etc. However, upon restarting the instance and trying to connect, I get:

![os_error](https://cloud.githubusercontent.com/assets/5861765/17113958/15e685de-526a-11e6-9d45-5ff27ccc89ea.png)

[2016-07-25 19:26] brianlball commented on #85
you lose the EBS mount when you shut it down.  We've wanted to make functionality that will save the mount and move it to S3 where you can start up a cheaper Sever navigation console but we've not had the time or $ to make that happen.

Solution now is to Admin/Backup Database and then startup a cheaper server and load the backup file.  You can view the database, but you wont have access to the .z

[2016-07-26 22:25] #85 closed

[2016-08-04 16:08] macumber opened #87 "stop_local command of the meta cli does not work"

[2016-08-04 16:10] macumber opened #88 "allow server tests to run on windows"

[2016-08-04 16:25] macumber opened #89 "update server to use osw branch of workflow gem"
depends on https://github.com/NREL/OpenStudio-server/issues/88

[2016-08-04 16:26] macumber opened #90 "run dockerize server on NREL network for developers to use"

[2016-08-04 18:39] shorowit opened #91 "AWS instances running out of space"
I can pretty easily run into situations where the AWS instance runs out of space. It only takes ~20k datapoints for this to occur. This is when using the c3.8xlarge instance type with 640GB of space for the server instance. I'm not sure offhand how much of that space /mnt/openstudio has available. However, I seem to recall that it's the mongo log file that eats up the majority of space.

FWIW, I'm

[2016-08-04 19:25] macumber opened #92 "meta cli issues"
- [ ] change path separators on windows in RunAnalysis
- [ ] modify gem path

[2016-08-04 20:04] #92 closed

[2016-10-25 15:50] macumber opened #110 "Calling start server on same project when server already started fails badly"
Partially shuts down running server, fails to start new one

Should fail gracefully

[2016-10-25 15:53] macumber opened #111 "Some jobs are not shutdown during shutdown"
Ruby jobs are left running when the server is shut down.  PIDs show up in child_pids list in local_configuration.json but there does not seem to be a call to shut them down.  Command line for these jobs is:

C:/ruby-2.0.0-p594-x64-mingw32/bin/ruby.exe E:/openstudio-server/gems/bin/rails s -p 8080 -P E:/test/test_project/server.pid

Note, the main rails job is shutdown and the webpage does not resp

[2016-10-25 16:06] macumber commented on #111
Simply starting and shutting down server seems to orphan two ruby processes.  These process ids are in the child_pids of local_configuration.json

[2016-10-26 17:21] rHorsey commented on #111
I think I have a fix for this. It's also worth noting that this is intermittent on top of everything else. Yay. Specifically, I'm going to wire up command line calls of taskkill instead of Ruby's ::Process.kill for windows. I'll let you know when I have a PR.

[2016-10-26 17:24] rHorsey commented on #110
Hmm. Ya. This is ugly. How do I know if a server is running? Once I know what the metric is for that I can very easily make subsequent start_local commands alias to stop_local and then start_local.

[2016-10-26 17:26] rHorsey commented on #87
Closed.

[2016-10-26 17:26] #87 closed

[2016-10-26 17:26] rHorsey commented on #88
Closed.

[2016-10-26 17:26] #88 closed

[2016-10-26 17:27] rHorsey commented on #89
Closed.

[2016-10-26 17:28] rHorsey commented on #90
@macumber  You mean have a docker-based OS-server setup internally?

[2016-10-26 17:28] macumber commented on #110
PAT will need a way to check if there is already a server running for a given project and (potentially) a way to shut it down if the server was left running by mistake (e.g. crash)

[2016-10-26 17:30] macumber commented on #111
Cool, just an FYI for now, it does seem the server is taking longer to start up on Windows, my suspicion is that this is time used for the WMIC command, we should make sure that we are making command line calls judiciously

[2016-10-26 17:41] rHorsey commented on #110
And the server will fail out on start_local if there is a local_configuration.json file in the project directory, and fail out on stop_local if there is not a local_configuration.json file.

[2016-10-26 17:52] macumber commented on #110
Do you remove the file if start fails?  I think you should since you try to kill the jobs...

[2016-10-26 17:56] rHorsey commented on #110
Hmmm...... Can do.

[2016-10-26 18:02] rHorsey commented on #111
It's always taken way way way longer on windows. Do you mean noticeably longer than before? Either way, let's make a 'Profile the !@#$%^&*() out of the Windows server start process' ticket for later.

[2016-10-26 18:03] #24 closed

[2016-10-26 18:04] #22 closed

[2016-10-26 18:04] #15 closed

[2016-10-26 18:06] #49 closed

[2016-10-26 18:07] #21 closed

[2016-10-26 18:07] #12 closed

[2016-10-26 18:09] #18 closed

[2016-10-27 04:17] #111 closed

[2016-10-27 04:17] #110 closed

[2016-10-31 18:25] rHorsey commented on #91
This is actually great news - it means that adding in the garbage collection looks to have worked. Before the server would jam up prior to the fs running out of room. @shorowit When do you need this fixed by?

[2016-11-01 19:06] shorowit commented on #91
@rHorsey Ideally by the middle of December.

[2016-11-01 21:57] nllong commented on #91
I know that the docker stuff is really green right now, but this may help as long as you can currently run your analysis on one machine (or work on documenting docker-swarm).

The starting of the docker cluster has a root-size param that we can set (https://github.com/NREL/OpenStudio-server/blob/dockerize/docker/README.md#starting-cluster)

[2016-11-23 22:04] asparke2 opened #116 "End time and duration of Analysis incorrect"
The end time on an analysis isn't correct, so the duration isn't correct.

Here's the summary:
![image](https://cloud.githubusercontent.com/assets/2009290/20580143/fa8b78e8-b18d-11e6-8fa8-e6eb51d9dc43.png)

But here are the datapoints.  Clearly more than a minute.
![image](https://cloud.githubusercontent.com/assets/2009290/20580120/db0d818c-b18d-11e6-8d9e-6a9b187b361b.png)

[2016-12-07 21:23] asparke2 opened #123 "datapoint.zip files won't open on windows"
PAT isn't downloading the datapoint.zip files correctly on windows.  It appears that this is because the files cannot be opened correctly, not because they don't exist on the server.

Here's the PAT log:
![image](https://cloud.githubusercontent.com/assets/2009290/20986985/18706f30-bc88-11e6-9a88-fa2e11ce5b48.png)

After manually downloading the datapoint.zip from the server, here's the error on op

[2016-12-07 22:04] asparke2 commented on #123
@macumber: @henryHorsey indicated that you would be the right person to fix this.  @kflemin FYI.

[2016-12-07 22:09] rHorsey commented on #123
@macumber When I started digging down into the WFG I think https://github.com/NREL/OpenStudio-workflow-gem/blob/osw/lib/openstudio/workflow/adapters/output_adapter.rb#L84-L110 is the code being invoked, which looks to be the OpenStudio Zip library. I thought this worked before, however, which is what has me a little confused.

[2016-12-07 22:25] asparke2 commented on #123
@henryHorsey:  @macumber and I looked at something which makes him think it isn't an issue with the zip library.

I went into the `/temp_data/analysis_xyz/data_point_abc/run` directory and compared the datapoint.zip there with the datapoint.zip I manually downloaded from the server web interface.

![image](https://cloud.githubusercontent.com/assets/2009290/20989176/fddc3952-bc90-11e6-8904-e1ccfdce

[2016-12-09 15:26] rHorsey commented on #123
@asparke2 @macumber I think this is something @nllong mentioned in passing to me a few months back; thanks for the debug! This is a windows only issue, right?

[2016-12-09 15:27] rHorsey commented on #90
@macumber I'm going to close this since LCNode 1 is running. Let me know if you have more you want to add to this issue.

[2016-12-09 15:27] #90 closed

[2016-12-09 15:28] asparke2 commented on #123
@henryHorsey Yeah I think it is Windows-only; david was able to download and open the datapoint.zip successfully.

[2016-12-12 19:22] rHorsey commented on #123
@asparke2 Can you test with a9fb663? (Just pull dockerize.) This should fix binary read errors on Windows.

[2016-12-12 22:32] rHorsey commented on #123
Confirmed by @asparke2. Closing

[2016-12-12 22:32] #123 closed

[2017-05-01 17:11] shorowit opened #172 "Bugs with pagination"
I've run a diagonal analysis with 100 datapoints. 50 are displayed on the first page and it says there are 4 pages instead of 2. Additionally, all 4 pages show datapoints 1-50, so I can only see the rest of my datapoints by clicking 'View All'.

![1](https://cloud.githubusercontent.com/assets/5861765/25586923/e4c11a42-2e5e-11e7-9a5c-a9e144accb01.png)

![2](https://cloud.githubusercontent.com/asset

[2017-05-03 15:03] shorowit commented on #116
Note that the End time and Duration are filled out even while the analysis is in the middle of running.

[2017-05-16 01:29] rHorsey opened #178 "Docker based AMI boot-time is annoyingly long"
This is due to pushing to the swarm registry on provision, not build. Ascertain if it is possible to deploy, push to, and then stop the service on build, and then revive it on provision. If not, look into splitting up the 900M layer in server and the 450M layers in rserve.

[2017-06-02 03:22] rHorsey commented on #91
I'm closing this in favor of https://github.com/NREL/OpenStudio/issues/2605

[2017-06-02 03:22] #91 closed

[2017-06-02 03:22] rHorsey commented on #70
This has been cleaned up in the AWS gem.

[2017-06-02 03:22] #70 closed

[2017-06-02 03:23] rHorsey commented on #27
This has happened.

[2017-06-02 03:23] #27 closed

[2017-06-02 03:23] rHorsey commented on #26
This is done in 2.x. Thank heavens!

[2017-06-02 03:23] #26 closed

[2017-06-02 03:26] rHorsey commented on #172
@shorowit Can you move this over to OpenStudio's issue list? I think it's a major-bug; two notes, first I only see it after the analysis is completed, and second it's not just the Name field, its the entire row of data.

[2017-06-02 12:55] #172 closed

[2017-06-02 18:09] rHorsey commented on #23
Lolz - I'm closing this out. If it's about map-reduce optimization, BuildingStock will hit it in a few weeks and we can open a ticket in OpenStudio.

[2017-06-02 18:09] #23 closed

[2017-06-02 18:09] rHorsey commented on #25
I think this is done. If not, if someone cares they'll add it to the OpenStudio issues list.

[2017-06-02 18:09] #25 closed

[2017-06-02 18:10] rHorsey commented on #178
Moving this to OpenStudio.

[2017-06-02 18:10] #178 closed

[2017-09-14 23:13] ljbrackney opened #203 "Parallel Coord Filtering Is Bogus"
Digging into the details of an optimization with Parallel Coordinate Plots I found that the filtered data points showing up below the plot are largely bogus.  Here's a filtered plot:

![par1](https://user-images.githubusercontent.com/2230150/30459726-4a45e348-9967-11e7-94df-ac9274acc0b8.png)

It looks like there would only be one solution, but the server thoughtfully suggests:

![par2](https://use

[2017-09-14 23:16] ljbrackney opened #204 "Rgenoud is Not Completing"
Running an rgenoud optimization produces and simulates a number of data points.  At some point though, something breaks and SNOW starts barfing:

Error in unserialize(node$con) : error reading from connection
Calls: ... doTryCatch -> recvData -> recvData.SOCKnode -> unserialize
Execution halted
Error in unserialize(node$con) : error reading from connection
Calls: ... doTryCatch -> recvData -> recv

[2017-09-15 16:04] ljbrackney opened #205 "Pareto Front Calculation Fails"
Trying to generate a Pareto Front for data like this:

![psogas](https://user-images.githubusercontent.com/2230150/30492272-c5e1d150-99f4-11e7-803c-3701932c6ee5.png)

Results in the "Something Went Wrong" page.  This happens with multiple algorithms and variable choices.

[2017-09-26 20:37] ljbrackney commented on #204
@brianlball determined that this is not related to the algorithm - rather the provisioning method.  Things work fine with docker compose but fail when docker swarm is used.  This is blocking for both simuwatt and Maalka IN2 projects.

[2018-01-04 21:38] rHorsey commented on #204
Fixed by https://github.com/NREL/OpenStudio-server/pull/213

[2018-01-04 21:39] rHorsey commented on #116
Fixed somewhere along the line by @nllong - Thanks!!!

[2018-01-04 21:39] #116 closed

[2018-01-04 21:41] rHorsey opened #239 "Re-deploying os-server to clusters leads to worker service container instability on remote nodes"
_From @rHorsey on December 8, 2017 5:14_

This manifests as fewer and fewer worker containers being available after each successive re-deployment. Containers are scheduled, started, run for ~30 seconds, and then fail (exit 1). This happens to all containers scheduled on a node or none. Documented on 17.06. Wait until 17.09 update and re-confirm prior to investigating.

_Copied from original issue:

[2018-01-04 21:42] rHorsey opened #240 "openstudio-server and openstudio-rserve latest tags out of state"
_From @rHorsey on October 17, 2017 16:11_

These should track successful develop builds.

_Copied from original issue: NREL/OpenStudio#2824_

[2018-01-04 21:42] rHorsey opened #241 "OS Server Dies Mid-Analysis"
_From @ljbrackney on August 28, 2017 14:22_

UCI Partner was running an optimization - presumably with 2.2.0 on AWS.  rgenoud was making progress for a while then rolled over and died.

![view_analysis1](https://user-images.githubusercontent.com/2230150/29777575-63717c14-8bc1-11e7-82f6-664ebb3acc38.PNG)

![view_analysis2](https://user-images.githubusercontent.com/2230150/29777579-689c56c8-8bc1-11e

[2018-01-04 21:42] rHorsey commented on #241
_From @brianlball on August 28, 2017 15:5_

do we know what instance they were using?  its possible it ran out of storage if its a small instance.

[2018-01-04 21:42] rHorsey commented on #241
_From @ljbrackney on August 28, 2017 15:7_

I don't know.  We can ask this afternoon, but in the meantime I'm just going to roll on 24a to get rolling.

[2018-01-04 21:43] rHorsey opened #242 "Fix list of nodes on the compute tab"
_From @rHorsey on July 26, 2017 20:38_

This will be particularly useful when we implement health checks.

_Copied from original issue: NREL/OpenStudio#2703_

[2018-01-04 21:44] rHorsey opened #243 "Scatter Plot on Server Contains Extraneous Data"
_From @ljbrackney on June 27, 2017 17:6_

Scatter Plots on the server are cluttered with several non-useful values that make it hard to use.  Please remove _id, name, run_start_time, run_end_time, status, status_message from this plot.  This is borderline between minor bug and feature request, and is low priority.

_Copied from original issue: NREL/OpenStudio#2679_

[2018-01-04 21:44] rHorsey opened #244 "PAT starts more runs than cores"
_From @jmarrec on June 27, 2017 8:11_

I have a dual core i7 (2 cores, 4 threads). PAT displays that it started 16 runs when only 3 energyplus instances can be run at any time (the 4th thread is used by ruby)

![screen shot 2017-06-27 at 10 09 26 am](https://user-images.githubusercontent.com/5479063/27577432-ef31ba4c-5b20-11e7-80b2-e3544fe2a708.png)

_Copied from original issue: NREL/OpenStudio#26

[2018-01-04 21:44] rHorsey commented on #244
Thanks @jmarrec for making an issue for this! I've seen this before on our still unstable large-scale (more than 200 thread) server deployments, but just tonight on one of our CI boxes. (https://travis-ci.org/NREL/OpenStudio-server/jobs/247794187) I'll try and take a look at this next week. I'm still not clear on what the impact of this is; I expected it to be catastrophic, but on our large deploy

[2018-01-04 21:44] rHorsey commented on #244
_From @jmarrec on June 28, 2017 10:47_

In my case, I'm pretty sure the problem was from https://github.com/NREL/OpenStudio/issues/2673

[2018-01-04 21:44] rHorsey commented on #244
_From @pachi on July 11, 2017 8:46_

Is this really wrong? The energyplus runs are indeed bounded by CPU use, but the overall OpenStudio run uses much more time doing IO, so this excess of parallelism should improve throughput as more CPU work can be done while waiting for IO.
In our experiments we use at least N+1 or N+2 project runs, where N is the number of CPU processes.

[2018-01-04 21:44] rHorsey commented on #244
_From @jmarrec on July 11, 2017 17:16_

This is really wrong yes because in my case it launched 16 energyplus runs. 16 on a two core four thread machine. And energyplus, not ruby or something.
And the settings defined (default) are 3 threads for e+ and one for misc (server gem etc) on my machine so it shouldn't happen

Envoyé de mon iPhone

[2018-01-04 21:44] rHorsey commented on #244
_From @tabuimara on July 26, 2017 15:27_

I have the same issue , and the analysis process never completed since the update 2.2.0

[2018-01-04 21:44] rHorsey commented on #244
The root cause of this issue has been identified as a limitation in the interconnection between mongo and delayed_jobs given the current use. We cannot reproduce this locally following 2.2.1, however we can reproduce this on AWS. It seems to be due to physical hardware limitations, indicating that local servers may be inadvisable on computers with less than 4 virtual CPUs. On cloud deployments, th

[2018-01-04 23:46] rHorsey opened #245 "PAT run fails due to mongo validation, starts E+ over and over again"
_From @jmarrec on June 26, 2017 14:17_

I'm running into an issue where PAT apparently fails to validate a datapoint, will then relaunch the E+ simulation, etc etc.

See the log retrieved from /temp_data/analysis_593fcac3-d036-435c-b089-76406ee383b8/data_point_8a8cda99-907b-49eb-b676-541ce40d593f/.

In real time I could just see energyplus completing, then starting again...

[8a8cda99-907b-49eb-b6

[2018-01-04 23:46] rHorsey commented on #245
_From @jmarrec on June 26, 2017 14:36_

Confirmed, removing the `.` in the measure option allows me to run the design alternatives that use them successfully

[2018-01-04 23:46] rHorsey commented on #245
@kflemin and @nllong Where is the preferred sanitation point in your opinions: PAT, or the model import pipeline?

[2018-01-04 23:46] rHorsey commented on #245
_From @nllong on June 28, 2017 14:28_

model import

[2018-01-04 23:46] rHorsey commented on #245
We apparently should ascii character code the restricted mongo characters.

[2018-01-04 23:46] rHorsey commented on #245
_From @ljbrackney on September 12, 2017 18:6_

Is this going to be fixed before release?  I just stubbed my toe on the issue myself.

[2018-01-04 23:46] rHorsey commented on #245
_From @kflemin on September 12, 2017 19:56_

I just added a check in PAT after the 'run entire workflow' button is pushed.  I'm checking for these characters:  $.€£  in both option names and design alternative names.  At some point we'll want to implement a more complete solution server-side.

[2018-01-04 23:47] rHorsey opened #246 "PAT Crashes due to non ascii characters"
_From @jmarrec on June 26, 2017 9:35_

Using my own copy for the BCL measure [tariff_selection_generic](https://bcl.nrel.gov/node/82925) I added new utility .idf files in /resources/ folder, in which I was using IDF comments including the € sign. For eg:

[code]

Turns out this makes PAT blow up. It runs just fine when I use the OpenStudio CLI...

The problem is the € sign, if I change that to "EU

[2018-01-04 23:48] rHorsey opened #247 "Cancel run from PAT prevents later analyses from starting"
_From @asparke2 on June 10, 2017 21:14_

1. Start an analysis running (I used 24B) via PAT.
2. Click "Cancel Run" in PAT.
3. The status of this project will change to "completed" on the server.
4. Try to re-run the analysis again via PAT.

Result: A new analysis will be created, but it will stay at status "queued" and will never start running.

Going into the server and clicking "Delete Project" r

[2018-01-04 23:48] rHorsey commented on #247
This appears to be a PAT interaction only issue. It seems like the cloud console buttons work as expected. I'll work with Kat on finding the difference between the calls to the server.

[2018-01-04 23:48] rHorsey commented on #247
It's a get vs post issue apparently. The analysis looks like it's queued in the log, but it's not. 👎 I'm starting by adding in the rails log to the admin screen so I can see the log more clearly, and then I'll compare the jobs queue against the log real time.

[2018-01-04 23:53] rHorsey opened #248 "Implement server & worker init & final scripts"
_From @asparke2 on May 11, 2017 16:5_

Necessary for ResStock and ComStock

_Copied from original issue: NREL/OpenStudio#2608_

[2018-01-04 23:53] rHorsey commented on #248
Worker is implemented and tested. Server will get implemented next week.

[2018-01-04 23:53] rHorsey commented on #248
@shorowit found a lovely bug with *.sh files coming from windows. This has been addressed using dos2unix in https://github.com/NREL/OpenStudio-server/commit/7dc6836f02ba8a450f0438d410091efa4a0c97e1

[2018-01-04 23:53] rHorsey commented on #248
Worker looks to be mostly stable. There are some paradoxes in when to apply worker finalization in the workflow, but otherwise the implementation appears solid.

[2018-01-04 23:53] rHorsey commented on #248
Worker is being merged in. Sever remains to be done.

[2018-01-04 23:53] rHorsey commented on #248
_From @asparke2 on August 10, 2017 1:12_

Sweet!

[2018-01-04 23:54] rHorsey opened #249 "Large Uploads to Server (i.e. lots of weather files) Seem to Timeout"
_From @asparke2 on May 11, 2017 15:59_

Reported by Scott: Error running ResStock national project

_Copied from original issue: NREL/OpenStudio#2606_

[2018-01-04 23:54] rHorsey commented on #249
I've spent about 10 hours on this, and I'm nowhere. If you need more than 100MB of zip uploaded to the server, chances are that using worker or server initialization and finalization scripts makes more sense, for the sake of far more reliable hosting and streaming options; once I have the server/worker init/final scripts working I'll change the severity to Major, at least until the cause is identi

[2018-01-04 23:54] rHorsey commented on #249
Reducing to major bug. A workaround using worker-init scripts is currently implemented for deployment in 2.2.1

[2018-01-04 23:54] rHorsey opened #250 "Database backup on server returns an error"
_From @ljbrackney on March 16, 2017 19:52_

Please make it work gooder.

_Copied from original issue: NREL/OpenStudio#2523_

[2018-01-04 23:54] rHorsey commented on #250
FYI @ljbrackney this milestone should be 2.1.1

[2018-01-04 23:54] rHorsey commented on #250
_From @ljbrackney on May 6, 2017 16:16_

mongodump.tar.gz downloads from the server have been working for a bit, but I tried uploading a tarball to both 24b and AWS without success.  The upload itself appears to work, but I believe it fails upon extraction or processing thereafter.

[2018-01-04 23:54] rHorsey commented on #250
I redeployed 24b yesterday and upload / download works fine there. I believe you're hitting the same limitations imposed by compose as we're seeing.... in pivotal tickets, gah. On AWS we deploy with swarm, and we really should on bball as well. I'm working to transition us over to that locally. It's tested and implemented, but the takeaways aren't disseminated yet. The network becomes far more sta

[2018-01-04 23:54] rHorsey commented on #250
_From @ljbrackney on May 11, 2017 14:16_

I'm still using 2.1.0 so I can test/respond to user queries.  Perhaps someone on 2.1.1 could try a mongodump save/restore on AWS?

  - larry

From: rHorsey <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, May 10, 2017 at 6:21 PM
To: NREL/OpenStudio

[2018-01-04 23:54] rHorsey commented on #250
@ljbrackney I'll test this next time I spin up a 2.1.1. The new (correct OpenStudio version) 2.1.1 AMI has a lot of fixes in it, which should catch what we were seeing locally, at least.

[2018-01-04 23:54] rHorsey commented on #250
_From @macumber on June 28, 2017 15:54_

@ljbrackney can you test and close once 2.2.0 is out?

[2018-01-04 23:54] rHorsey commented on #250
_From @ljbrackney on June 28, 2017 16:53_

Yes

From: Dan Macumber <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NREL/OpenStudio <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, June 28, 2017 at 8:54 AM
To: NREL/OpenStudio <OpenStudio@noreply.github.com<mailto:OpenStudio@noreply.github.com>>
Cc: Larry Brackney <larry.brackney@nrel.gov<mailto:larry.br

[2018-01-04 23:54] rHorsey commented on #250
This is working for me now. Can someone confirm?

[2018-01-05 00:15] rHorsey opened #251 "PAT 2.3.0 on Windows - Local Server Not Starting - Server Error"
_From @DrNick13 on November 21, 2017 4:29_

PAT 2.3.0 is consistently not starting on opening a Project. Stopping/restarting the server sometimes reconnects the Local Server, but does not reliably reconnect. Ruby processes and mongod are opening, but look to be timing out and not starting.

On start-up:

![image](https://user-images.githubusercontent.com/33544587/33054494-9d4a05ce-cecd-11e7-999a-6

[2018-01-05 00:15] rHorsey opened #252 "PAT RUNS FOR EVER"
_From @tabuimara on July 26, 2017 15:22_

SINCE I UPDATED OPEN-STUDIO to 2.2.0, I am not able to perform any parametric analysis , the process starts and keeps in progress forever . I thought might be an issue with one of the weather files , so i tested them one at a time , nothing changes !

_Copied from original issue: NREL/OpenStudio#2701_

[2018-01-05 00:15] rHorsey commented on #252
_From @DavidGoldwasser on July 26, 2017 19:42_

@tabuimara What is the status in the green bar? Does it show "Analysis Started" or is it something else? Also have you seen this on multiple PAT projects and does it still happen after a fresh restart of your computer.

[2018-01-05 00:15] rHorsey commented on #252
_From @tabuimara on July 26, 2017 19:43_

Hi
It does start and says analysis starts

Tareq Isamil Abuimara, MSc, MRAIC
Cell: (613)898-1406
PhD Student/ TA/RA
Faculty of Engineering and Design

From: David Goldwasser [mailto:notifications@github.com]
Sent: July 26, 2017 3:42 PM
To: NREL/OpenStudio <OpenStudio@noreply.github.com>
Cc: tabuimara <tareq.abuimara@carleton.ca>; Mention <mention@noreply.g

[2018-01-05 00:15] rHorsey commented on #252
_From @DavidGoldwasser on July 26, 2017 20:37_

Assuming you are running on local machine, what do you see at http://localhost:8080/

Do you see an analysis, and does that analysis seem to have any datapoints, and in the GUI on the Run tab under the row for each Datapoint is the status "Started" for at least some of the datapoints?

[2018-01-05 00:15] rHorsey commented on #252
_From @tabuimara on July 27, 2017 14:38_

Hi David
Sorry for my late reply.
Yes I am running on local server and the analysis starts, the data points are created and the stutus is started.
What happens is different each an every time , it either starts with no end or fails right away .
Thanks

Tareq Isamil Abuimara, MSc, MRAIC
Cell: (613)898-1406
PhD Student/ TA/RA
Faculty of Engineering and Desig

[2018-01-05 00:15] rHorsey commented on #252
_From @DavidGoldwasser on July 27, 2017 16:39_

Sorry, I have a few more questions. What operating system are you on, and if you restart your machine, make a fresh PAT project (something really basic without all of the same measures) does it run? If it is unique to a specific project might have you send it to us at OpenStudio@nrel.gov.

[2018-01-05 00:15] rHorsey commented on #252
_From @tabuimara on July 27, 2017 16:43_

Thanks for your response
I am using Windows 64bit
I did the following and did not work :

  *   Restarted my computer several time
  *   Uninstall OS and Reinstall multiple times
  *   Changed the set of measures
I am now back to version 2.1.0 to see if the problem is with OS or my local computer , will get back to you as soon as I am done.
Thanks

Tareq I

[2018-01-05 00:15] rHorsey commented on #252
_From @DavidGoldwasser on July 28, 2017 16:15_

@tabulimara. I got your email, and saw that now, you are not getting it running forever, but the datapoints are failing. The behavior appears to be related to issue #2557 which is closed and should be fixed, so I'm not sure why you are seeing it. If you are using a PAT project that pre-dates the fix, then I can see this happening. It sounds like this

[2018-01-05 00:15] rHorsey commented on #252
_From @tabuimara on July 31, 2017 20:23_

Hi David
Hope you are doing well
I still have the same issue withPAT
DATAPOINT FAILURE
I have sent you the project earlier on the other email, any thoughts ?
Thanks

Tareq I. A. Abuimara
Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: David Goldwasser <notifications@github.com>
Sent: Friday, July 28, 2017 12:15:33 PM
To: N

[2018-01-05 00:15] rHorsey commented on #252
_From @asparke2 on August 22, 2017 16:43_

@chrisbalbach reported this issue, demonstrated it, and I have a PAT project that replicates the issue (on Windows at least).  Basically what's happening is that one of the design alternatives is getting re-run over and over again and never completes, even though the simulation finishes and everything.

[2018-01-05 00:15] rHorsey commented on #252
_From @mbcoalson on August 30, 2017 14:57_

I seem to be having a similar issue. I had difficulty getting PAT to run locally, so I uninstalled and reinstalled it directly in the C-drive. Changing where I have PAT installed has allowed me to connect to the local-virtual server. Unfortunately, I am receiving a datapoint failure status message on all my simulations, even as I have progressively simpl

[2018-01-05 00:15] rHorsey commented on #252
_From @asparke2 on September 16, 2017 22:46_

We believe that this issue is the result of having some reserved characters (periods, dollar signs) in the measure option and/or design alternative names.  This hypothesis is being tested and if it is true we will add GUI logic into PAT to warn users ahead of time.  The better long term solution to allow these characters in the names may be pursued in

[2018-01-05 00:15] rHorsey opened #253 "Can't run PAT 2.X projects from network drive"
_From @asparke2 on April 27, 2017 20:31_

If your PAT project is stored on a network drive and you open it from that location, the simulations won't run correctly because the analysis won't start.

**Workaround:**
1. Copy PAT project from the network drive to your computer
2. Open the copied PAT project and run simulations
3. Close PAT
4. Copy PAT project back to the network drive

_Copied from or

[2018-01-17 17:40] ljbrackney commented on #204
This apparently has not been resolved.  I ran into this last night on 24a.

Error in unserialize(node$con) : error reading from connection
Calls: ... doTryCatch -> recvData -> recvData.SOCKnode -> unserialize
Execution halted

24a will not redeploy properly now.

Perhaps related, but I started an analysis on 24b.  It began running okay, and the server suddenly became non-responsive mid-batch.  It

[2018-01-17 17:42] ljbrackney opened #255 "2.4.0 AMIs not produced/released"
2.4.0 AMIs are not available in PAT for AWS.

[2018-01-17 18:40] brianlball commented on #204
This is a deployment issue, can we close this and make a new issue around deployment?

[2018-01-17 19:21] ljbrackney opened #256 "OS Server hangs at end of analysis"
Moving from https://github.com/NREL/OpenStudio-server/issues/204

At end of analysis OS server hangs with this repeating in the log:

Error in unserialize(node$con) : error reading from connection
Calls: ... doTryCatch -> recvData -> recvData.SOCKnode -> unserialize
Execution halted

Server will no longer redeploy, nor will it redeploy after a reboot.

I have also seen analyses crash mid-run on 24

[2018-01-17 19:26] ljbrackney opened #257 "Electricity CVRMSE Limit is not populating correctly in OS Server"
Running a calibration that includes points that meet acceptance criteria:

 {“electricity_cvrmse_within_limit”:true,“electricity_nmbe_within_limit”:true,“natural_gas_cvrmse_within_limit”:true,“natural_gas_nmbe_within_limit”:true}.

However the server output for electricity_cvrmse_within_limit is always 0.  The electricity_nmbe_within_limit and both gas limit variables are working ok.  I also looke

[2018-01-17 19:31] ljbrackney commented on #257
I was just able to rerun this analysis on 24 that Brian freshly provisioned for me via docker-compose and it's working ok there.  This looks like it may also be deployment related.

[2018-01-17 20:47] ljbrackney opened #258 "Filtered Datapoints Listed Below Parallel Coordinates Plot Are Wrong"
When applying filters to parallel coordinate plots to identify solutions that match criteria, the downselected points below the plot may or may not fall within filtered ranges.  An example...

![filter](https://user-images.githubusercontent.com/2230150/35066150-7e131004-fb84-11e7-8797-63a5ee1df4a3.png)

This renders that feature unusable, and it's hard to find points you're after.

[2018-01-17 20:49] ljbrackney commented on #258
Also the number of selected datapoints does not always appear to match the selection.  I've filtered down to what should have been a single datapoint, but the list still shows a half dozen or more - most of which don't fit the criteria.

[2018-01-18 17:38] ljbrackney commented on #255
The deployments on 24a and 24b are working ok.  I will test on AWS when that AMI is corrected.

One note: The project I'm testing is an SPEA2 w/ 40 points and 2 generations.  This typically results in 120 datapoints.  The new deployments are producing 127 points.  The solution is the same, but a bit concerned that the algorithm is behaving differently when only the deployment changed.

[2018-01-18 18:02] brianlball commented on #255
I suspect this issue is a queuing issue.  The algorithm is only putting out 120 datapoints exactly (40 per each  generation, plus initial pop).  I suspect its queuing up 40 runs at a time, but a datapoint is getting run more than once. @rHorsey @nllong

[2018-01-18 19:14] ljbrackney commented on #256
This appears to be working.  Will close, but keep an eye open for repeats of this failure mode when we start beating on things harder.

[2018-01-18 19:14] #256 closed

[2018-01-22 22:09] lgentile commented on #14
@nllong @rHorsey still an issue to be dealt with?

[2018-01-22 22:27] lgentile commented on #247
@rHorsey can this issue be closed? It was accepted in Pivotal, https://www.pivotaltracker.com/story/show/146977865

[2018-01-22 22:35] lgentile commented on #241
@rHorsey is this still a blocker?

[2018-01-22 22:41] lgentile commented on #251
Is this still happening?

[2018-01-22 23:08] lgentile commented on #250
@ljbrackney is this working?

[2018-01-22 23:28] ljbrackney commented on #250
Download works.  Restore doesn't return error, but doesn't work either.  Just attempted to backup/restore from 24a to 24b.

[2018-01-25 20:17] kflemin commented on #203
duplicate of https://github.com/NREL/OpenStudio-server/issues/258

[2018-01-25 20:17] #203 closed

[2018-01-25 20:45] kflemin commented on #243
Fixed in https://github.com/NREL/OpenStudio-server/pull/262.  Awaiting merge...

[2018-01-25 20:45] kflemin commented on #258
Fixed in https://github.com/NREL/OpenStudio-server/pull/262.  Awaiting merge...

[2018-02-01 21:47] kflemin commented on #205
@ljbrackney, can you provide an analysis where this happens?  thanks!

[2018-02-12 22:48] DavidGoldwasser commented on #252
Confirmed it prevents me from running with an informative message.
![screen shot 2018-02-12 at 3 48 02 pm](https://user-images.githubusercontent.com/4857055/36124114-236e1792-100c-11e8-8c8e-78d8f202fe27.png)

[2018-02-13 00:24] DrNick13 commented on #251
Confirming these errors are still occurring.

[2018-02-13 17:21] rHorsey commented on #247
Closing this, as we can't reproduce. Please reopen if you hit this on a post 2.4.0 release!!!

[2018-02-13 17:21] #247 closed

[2018-02-13 17:23] rHorsey commented on #244
Resolved by https://github.com/NREL/OpenStudio-server/pull/228

[2018-02-13 17:24] rHorsey commented on #242
Waiting for ComStock funding for @nllong to address this issue.

[2018-02-13 17:26] rHorsey commented on #241
I don't know what to do with this one. There's a feature request here around preemptively stoping everything if the disk ever gets above 90% full. I'll make a feature request for that.

[2018-02-13 17:26] #241 closed

[2018-02-13 17:36] rHorsey opened #265 "Fail gracefully if AWS server node runs out of disk space"
We need a background process that checks disk space every 10 minutes or so and stops the analysis if less than 10% of the docker-assigned disk space is available. This is retrievable from `df --output=pcent /` within the container. Somehow, this error should also be flashed large on the management console's main screen.

[2018-02-13 17:53] rHorsey opened #266 "openstudio_meta install_gems certificate verify failed for rubygems"
reported by @ljbrackney:
[code]

[2018-02-13 17:56] rHorsey commented on #266
This often is a result of the network refusing 443 (https) traffic. This often happens to NREL employees. To fix this please run
[code]

[2018-02-13 18:05] rHorsey commented on #266
Also, this issue and other related to local system configuration issues are discussed in https://github.com/NREL/OpenStudio-server/wiki/Common-Local-Configuration-Issues

[2018-02-13 18:05] #266 closed

[2018-02-13 21:09] #245 closed

[2018-02-14 07:49] rHorsey opened #267 "Enable dynamic installation of OpenStudio packages"
Currently packages have to be installed, and then the critical ruby bindings and static objects re-zipped to allow for new OpenStudio versions to be tested. The desired behavior looks like https://github.com/NREL/OpenStudio-server/blob/6e1d32d20aee548755dacbcefd85c52b0810f2a8/ci/travis/setup.sh#L11-L23, however that approach requires integration of the QTCLI. @axelstudios has already done this, ho

[2018-02-14 07:50] rHorsey commented on #267
@axelstudios Can you link one of your example QTCLI scripts here for @nllong please? Thanks!

[2018-02-14 17:26] #205 closed

[2018-02-15 02:03] rHorsey opened #268 "Move openstudio installation directory to /projects on AppVeyor"
Currently openstudio is installed to `C:/openstudio` on AppVeyor, however it needs to be installed to `C:/projects/openstudio` to comply with AppVeyor recommended procedures. This doesn't appear to impact build success, however conformation is probably worth while in this case, given how abruptly the c drive is updated.

[2018-02-15 02:10] rHorsey opened #269 "Migrate to the openstudio CLI"
This is required to support custom gems on the server. Currently the workflow gem is used, see https://github.com/NREL/OpenStudio-server/blob/develop/server/app/workers/run_simulate_data_point.rb#L169-L183. This needs to be replaced with a well mannaged spawned process with identical output log name and file structure. I'd recommend starting with https://github.com/NREL/OpenStudio-server/blob/deve

[2018-02-15 02:17] rHorsey opened #270 "Support BYOG for super users via CLI & datapoint init scripts"
Thanks to the ability of the CLI to prepend to `$GEM_PATH` it should be feasible to build and execute user defined gems in workflows via a datapoint init script. The tasks are to finish #269, prove this can be done, and then provide example scripts for installing gems provided via a Gemfile. Support for native gems may not be possible, however this should be verified, one way or the other.

[2018-02-15 02:17] rHorsey commented on #270
Also, BYOG stands for Bring Your Own Gemfile - obvi.

[2018-02-15 03:18] rHorsey opened #272 "Get Ubuntu unit tests passing"
Currently the bundle environment on Travis is not loading dependencies as required. Additionally, no integration tests are run. If we are supporting PAT on Ubuntu, the integration tests passing on Ubuntu on Travis are critical.

[2018-02-15 16:13] rHorsey opened #274 "Migrate Circle test/deploy to Travis"

[2018-02-15 17:54] nllong commented on #274
I did this and then reverted it all. Travis build time out reached. Could fix by having nice layers predefined.

[2018-02-15 21:05] rHorsey commented on #274
!@#$%^&*()_+~{}|:"<>?

[2018-02-15 21:34] rHorsey commented on #248
Defining server finalization as major, and server initialization as minor.

[2018-02-15 21:51] rHorsey commented on #253
This is a pretty difficult use case to crack. We'd need to make changes to both PAT and the server, and in the process add in a fair bit of complexity to the PAT application lifecycle. Additionally, if things go wrong, (wrong in this case includes someone else looking at files in the project,) there is the potential for unrecoverable data loss. As such, it's not clear to me that we actually want t

[2018-02-15 21:52] rHorsey commented on #13
Is this still a thing?

[2018-02-15 21:53] rHorsey commented on #14
Is this still a thing?

[2018-02-15 21:54] asparke2 commented on #253
I think it's fine to not support this for a true network drive.  Ideally, PAT would tell you that it can't create/open a file that's on one.  However, running off of a second hard drive ideally would be supported.  Not sure if it currently is or not.

[2018-02-15 21:59] kflemin commented on #14
this is enforced in PAT

[2018-02-15 22:30] anyaelena commented on #268
It looks like this install.qs script from the OpenStudio repo installs to C:/openstudio.  Do you want me to just move the directory after it is installed and update that RUBYLIB path as well?

[2018-02-15 22:40] macumber commented on #253
Here was an old issues related to this for PAT 1.0, https://github.com/NREL/OpenStudio/issues/1054

Several EDAPT users had a workflow where they would keep their projects in a shared company dropbox or network drive.  Then they would each open and run it at different times.  Things that cause problems where each user mapping the network drive to a different drive letter (solution was to make sure

[2018-02-17 03:59] rHorsey opened #276 "Get CircleCI to once again push docker builds on successful master branch tests"
This blocks automation of the AMI generation in GitLabCI.

[2018-02-17 18:44] nllong commented on #13
close it. things are working as is.

On Thu, Feb 15, 2018 at 4:45 PM rHorsey <notifications@github.com> wrote:

[2018-02-19 18:25] axelstudios commented on #267
Here's one: https://github.com/NREL/OpenStudio/blob/develop/install.qs

[2018-02-20 21:57] #268 closed

[2018-02-21 03:53] nllong commented on #276
#240

[2018-02-21 18:03] anyaelena commented on #272
May not be source of failure, but I've noted a couple things:

Travis setup seems to be hardcoded to different versions of OpenStudio for [OSX](https://github.com/NREL/OpenStudio-server/blob/develop/ci/travis/setup.sh#L11) vs [Ubuntu](https://github.com/NREL/OpenStudio-server/blob/develop/ci/travis/setup.sh#L29).  Should i move these into Env vars in the travis.yml?  What version/sha do we mean to

[2018-02-21 18:49] #276 closed

[2018-02-21 18:50] rHorsey commented on #240
Addressed by @nllong in #280

[2018-02-21 18:50] #240 closed

[2018-02-21 18:51] rHorsey commented on #276
Addressed by @nllong in #280

[2018-02-21 19:54] rHorsey commented on #272
Insofar as your first comment is concerned, that is a definite thing - see #267

For rubylib... That's strange. It should be in the form of `export RUBYLIB=/path/to/openstudio/ruby:$RUBYLIB` which would explain some issues, but not why any of the gems can't be found. If openstudio can't be found, the problem normally shows up as `require 'openstudio-analysis'` erring out.

[2018-02-21 20:08] rHorsey opened #282 "Update to bundler version 1.14.4 in openstudio_meta"
To match https://github.com/NREL/OpenStudio/blob/develop/dependencies/ruby/Gemfile#L16

[2018-02-21 21:01] rHorsey opened #285 "ReEnable NRCAN-master branch dockerhub pushes"

[2018-02-21 21:32] nllong commented on #285
you want me to do this?

[2018-02-21 21:43] anyaelena commented on #272
Hmm that deb actually unpacks to /usr so /usr/Ruby is the Ruby version installed with OpenStudio.

I'm not sure how /opt/openstudio and /mnt/openstudio dirs + contents are created but i'll leave that alone for now.

[2018-02-22 15:58] nllong commented on #285
#284

[2018-02-22 16:40] anyaelena commented on #272
the BUNDLE_GEMFILE var is being stomped on [here](https://travis-ci.org/NREL/OpenStudio-server/jobs/344862824#L792), it looks like part of rvm setup?  It is looking at Gemfile in root of repo (see [BUNDLE_GEMFILE](https://travis-ci.org/NREL/OpenStudio-server/jobs/344862824#L1337) and [bundle list](https://travis-ci.org/NREL/OpenStudio-server/jobs/344862824#L1340)).  I fixed by explicitly setting B

[2018-02-22 20:58] #285 closed

[2018-02-23 02:08] rHorsey commented on #272
Yay!!! Thanks @anyaelena !!!

[2018-02-23 02:08] #272 closed

[2018-02-23 02:11] #282 closed

[2018-02-23 02:13] rHorsey commented on #242
Reclassifying this as a feature, as it needs to be developed from scratch with Redis / resque given current design plans.

[2018-02-23 02:14] #14 closed

[2018-02-23 16:47] nllong commented on #285
Note that the name will be openstudio version appended with nrcan (e.g. 2.4.1-nrcan)

[code]

[2018-02-26 20:49] brianlball commented on #13
wrong!

[2018-02-26 22:35] brianlball commented on #13
https://github.com/NREL/OpenStudio-server/blob/develop/server/lib/analysis_library/r/doe.rb#L253

[2018-02-27 00:04] rHorsey opened #289 "Fix `require 'resque'` in rspec tests for Travis"
https://travis-ci.org/NREL/OpenStudio-server/jobs/346435676

For some reason, the switch at https://github.com/NREL/OpenStudio-server/blob/241-develop/server/config/initializers/default_config.rb#L66 isn't triggering to prevent evaluation of `require 'resque'` leading to the current error seen in the linked travis failure. I suspect an env var.

[2018-02-27 00:09] rHorsey commented on #289
This is also currently breaking the Circle CI tests! Yay! A single error!

[2018-02-27 04:45] nllong commented on #282
I am about to open a PR into OpenStudio to update the bundler to 1.16.1.

[2018-02-27 16:33] evanweaver opened #290 "Determine why Mac and Windows builds now require the "--with_test_develop" flag to be set"
Using this flag nearly doubles package size, so it would be nice to remove it.

[2018-02-27 18:25] brianlball commented on #13
fixed here
https://github.com/NREL/OpenStudio-server/pull/291

[2018-02-27 18:25] #13 closed

[2018-02-28 15:05] rHorsey opened #292 "Re-enable unit testing on appveyor"
Currently, only the integration tests are run in AppVeyor. To add in the server rspec tests, a second script should be added to the AppVeyor

[2018-02-28 15:45] rHorsey commented on #290
RUBOCOP!!!!! WHY DO YOU HATE ME SOOOOOOO. @nllong lol - my relationship with rubocop is really really bad...

[2018-02-28 16:43] rHorsey commented on #290
See #293

[2018-02-28 21:04] rHorsey commented on #290
Resolved by #293

[2018-02-28 21:04] #290 closed

[2018-03-01 00:44] rHorsey commented on #292
Resolved by #295

[2018-03-01 00:44] #292 closed

[2018-03-02 04:14] anyaelena commented on #289
it looks like you just want me to add "test" to the environments we check for in that switch and also [here](https://github.com/NREL/OpenStudio-server/blob/241-develop/server/app/workers/run_simulate_data_point.rb#L442) and maybe a couple other places.

But just to confirm - we aren't testing this redis/resque integration with our unit testing?

Resque is only included in [Gemfile](https://github.

[2018-03-08 14:48] nllong commented on #289
Redis/Resque is tested on Docker via circleci. The Travis tests are testing the deployment for local development, which should only use delayed_jobs.

[2018-03-08 17:17] nllong commented on #267
This is only true for the windows packages, correct?

[2018-03-08 20:11] axelstudios commented on #267
@nllong Right, currently only the Windows installer is QtIFW (Ubuntu uses .deb packages, and Mac uses .zip with the .app inside)

[2018-03-08 22:27] macumber commented on #267
Can we get some documentation on this under like "Automated Installation" on this page http://nrel.github.io/OpenStudio-user-documentation/getting_started/getting_started/ ?

We literally got another email about this 5 minutes ago

[2018-03-08 23:36] anyaelena commented on #289
The 'test' environment is not included in any of the Rails.env checks that determine DelayedJob instead of Resque.

To fix this, i suggest that rather than updating all these to include checks for Rails.env == 'test':

1) Override this [job adapter variable](https://github.com/NREL/OpenStudio-server/blob/289-241-develop/server/config/application.rb#L26) to be :resque in the config/environment/ fil

[2018-03-09 02:13] nllong commented on #289
That sounds good to me!
On Thu, Mar 8, 2018 at 16:36 Anya Petersen <notifications@github.com> wrote:

[2018-03-09 15:12] nllong commented on #274
start at layering. https://github.com/NREL/OpenStudio-server/blob/241-develop/Dockerfile#L6

[2018-03-09 18:08] nllong commented on #274
and this: https://hub.docker.com/r/nrel/openstudio-r/tags/

[2018-03-09 18:47] DavidGoldwasser commented on #258
![screen shot 2018-03-09 at 11 45 24 am](https://user-images.githubusercontent.com/4857055/37224000-760c642c-238f-11e8-8e33-2189fbeb3241.png)

@kflemin do you know if this has been deployed on 24b? I still see to many datapoints when I filter across more than one column?

[2018-03-09 21:17] kflemin commented on #258
@DavidGoldwasser, I'm not sure...it might not be.

[2018-03-10 00:00] nllong commented on #289
@anyaelena -- have you implemented your change yet? I am working on getting the tests to work in both delayed_job and resque and this would be helpful.

And yes, we aren't using ActiveJob because we really aren't using the config.job_manager AFAIK.

[2018-03-10 00:08] anyaelena commented on #289
@nllong ci running now for the change

[2018-03-10 00:23] anyaelena commented on #289
@nllong  it looks like this change may be working as expected but build still [failed](https://travis-ci.org/NREL/OpenStudio-server/jobs/351556596#L2170).

you can pull branch (289-241-develop) into 241-develop if you want my changes.

[2018-03-10 19:20] anyaelena commented on #289
@nllong so travis is running with test environment and i originally did all this to set up test to run using delayed_job (see above).

All that to say, if test uses resque i may not have fixed the issue.

[2018-03-10 22:20] nllong commented on #289
I’m fixing that right now. I am testing both resque and delayed_job in the
spec. I’m also making the jobs run immediately (eager) during tests instead
of the hacky threads I had in there.

Thanks for your help on this. Having the config.job_manager is much better
and made the changes to the tests easier.
On Sat, Mar 10, 2018 at 12:20 Anya Petersen <notifications@github.com>
wrote:

[2018-03-11 02:51] nllong commented on #267
Looks like this has been done-- https://github.com/NREL/OpenStudio-server/blob/develop/ci/appveyor/setup.cmd#L5. @henryHorsey can you verify that this is what you wanted?

[2018-03-12 02:45] nllong commented on #267
for mac we have to do this: https://github.com/NREL/OpenStudio-server/blob/241-develop-fix-tests/ci/travis/setup.sh#L15-L18

[2018-03-12 17:57] axelstudios commented on #267
Ah, good to know.  I wasn't aware that the .app inside the mac zip was actually just an installer

[2018-03-12 18:09] kbenne commented on #267
Assuming OpenStudio ci comes online, what about just asking it to make a tar or zip package in addition to the ifw (Qt installer - which is what the zip with a .app installer inside is)? EnergyPlus does this. GUI installers with options, path setup etc for humans, straight tarballs for automated computer stuff. We grab the tarballs to pull E+ into OpenStudio for instance.

https://github.com/NREL/

[2018-03-14 23:17] brianlball opened #308 "timeout is too short for large datapoints"
https://github.com/NREL/OpenStudio-server/blob/develop/server/app/workers/run_simulate_data_point.rb#L453

[2018-03-15 16:58] #289 closed

[2018-03-15 16:59] #267 closed

[2018-03-15 17:01] #308 closed

[2018-03-15 17:03] nllong opened #309 "When unzipping data_point.zip files on Windows, multiple files exist"
### General Issue / Feature Information

**Description**

When downloading a data_point.zip file on windows and unzipping the unzipper sees duplicate files (at least 3). This does not appear to happen on mac nor linux.

**Reproduction steps:**
1. Run a simulation.
2. Download a data_point zip file on Mac, unzip, and check that only one copy of the data exist in the measures folder.
3. Download the

[2018-03-15 17:05] brianlball opened #310 "nginx file size too small"
### General Issue

**Description**

https://github.com/NREL/OpenStudio-server/blob/develop/docker/server/nginx.conf#L36

100MB is too small for Radiance runs.

[2018-03-15 17:11] brianlball commented on #310
resolved in https://github.com/NREL/OpenStudio-server/pull/311

[2018-03-15 17:11] nllong commented on #309
https://github.com/NREL/OpenStudio-workflow-gem/blob/5adaefd538fdbec9a521b736bfe9cc6a9478afc9/lib/openstudio/workflow/adapters/output_adapter.rb#L88

[2018-03-15 17:12] nllong commented on #309
Example data point zip file: https://s3.amazonaws.com/openstudio-resources/server/debug/data_point.zip

[2018-03-15 17:12] #310 closed

[2018-03-19 19:29] DavidGoldwasser commented on #258
Confirmed this is working, 24a and 24b just not updated to use latest code yet

[2018-03-19 19:29] #258 closed

[2018-03-19 23:59] rHorsey opened #314 "When releasing custom AMIs, OpenStudio Standards version retrieval may fail"
### General Issue / Feature Information

**Description**

When releasing a custom AMI using the supported [GitLab script](https://github.com/NREL/OpenStudio-server/blob/develop/ci/gitlab/build_deploy_ami.py) the OpenStudio standards version retrieval may fail, due to issues with invocation of gems from GitHub using the `ruby -r` functionality. This does not appear when using a static ref in the Ge

[2018-03-20 00:19] rHorsey commented on #309
ping @macumber

[2018-03-20 00:21] rHorsey commented on #249
Potential fix in #310 - this needs to be tested after 2.4.4 is released.

[2018-03-20 00:31] rHorsey opened #316 "Remove sourceforge build dependency"
### General Issue / Feature Information

**Description**

Every now and again, all our circle builds crash and fail because of sourceforge availability or authentication issues for the mozilla release. This is very frustrating and annoying. There **should** be a better (less prone to downtime or whatever) option for mozilla releases.

**Reproduction steps:**
1. Run circle tests a lot
2. Download a

[2018-03-20 03:26] macumber commented on #309
Is the zip file generated on Windows or Unix?  I am not clear what you mean by multiple files of the same name, the operating system does not allow that?

[2018-03-20 03:29] macumber commented on #309
Also, what is this blocking?

[2018-03-20 04:00] macumber commented on #309
I'd bet the file glob pattern '**' on this line: https://github.com/NREL/OpenStudio-workflow-gem/blob/5adaefd538fdbec9a521b736bfe9cc6a9478afc9/lib/openstudio/workflow/adapters/output_adapter.rb#L72 is causing files in the directory to be added multiple times

[2018-03-20 13:22] nllong commented on #309
It is only on windows that the zips from Linux show up. See the image.
There are 3 of the exact same files.
On Mon, Mar 19, 2018 at 22:00 Dan Macumber <notifications@github.com> wrote:

[2018-03-20 14:58] nllong commented on #309
makes sense, glob pattern should probably just be `Dir[File.join(local_directory.to_s, '*')]`... since the directories will be recursively added.

[2018-03-20 16:20] nllong commented on #269
Here is the CLI documentation: https://nrel.github.io/OpenStudio-user-documentation/reference/command_line_interface/

[2018-03-20 16:24] nllong commented on #269
Any reason not to use popen instead of system call? I prefer [this](https://github.com/NREL/OpenStudio-workflow-gem/blob/91a30cd5bfcd407c9aac0be6077d4fe1a3bc2d07/lib/openstudio/workflow/util/energyplus.rb#L120-L124)

[2018-03-20 16:45] #314 closed

[2018-03-20 23:08] aaron-boranian opened #574 "Allow quick access to failed runs on OpenStudio Server"
On the cloud console, it would be useful to be able to look at all failed runs as opposed to having to hunt for them among all completed simulations.

Migrated from [UserVoice](http://openstudio.uservoice.com/forums/308629/suggestions/15173292)

[2018-03-23 18:07] anyaelena commented on #269
is the intention to leave workflow gem calls in place but add another value for this [:run_workflow_method](https://github.com/NREL/OpenStudio-server/blob/develop/server/app/workers/run_simulate_data_point.rb#L46)  to indicate CLI?   Does not appear to be used currently?

[2018-03-23 19:42] nllong commented on #269
I suggest removing the run_workflow_method. It was an old method and it probably is not being used anymore.

[2018-03-26 21:26] anyaelena commented on #269
It looks like for results, including completed_status, i'll need to parse the out.osw file generated by the CLI.  Is that your understanding as well?

[2018-03-27 00:09] nllong commented on #269
Yes that is true. I am not sure if there is a helper library out there yet.
I can ask around.
On Mon, Mar 26, 2018 at 15:26 Anya Petersen <notifications@github.com>
wrote:

[2018-04-02 19:58] DavidGoldwasser opened #321 "Variable for plot_xy_interactive use the the measure option name and arg name instead of output display name"
### General Issue / Feature Information

**Description**

When I setup "Outputs" in PAT on the outputs tab with both "Display Name" and "Short Name" the interactive XY plot does not reflect these names. Since I'm using a measure that has been copied about 20 times "measure_name.arg_name" isn't useful. Notice under expected outcome that parallel coordinates plot doesn't exhibit this issue.

**Repro

[2018-04-03 15:07] DavidGoldwasser commented on #321
This also affects the results.csv, which I know is something we may not want to change. For my use case I can always open the "pat.json" and find/replace the name. Maybe feature request for PAT could have the "name" update to follow the user entered "Display Name"?

[2018-04-05 19:16] kflemin opened #322 "when filtering list of datapoints for parallel coordinate plots, wait unitl user lets go to filter."
_From @DavidGoldwasser on March 19, 2018 19:31_

Currently it filters as you are dragging, which creates un-expected jittery behavior to the page because of dynamically changing number of datapoints listed.

_Copied from original issue: NREL/OpenStudio-PAT#71_

[2018-04-10 13:41] anchapin opened #323 "Kubernetes support?"
It appears that the OpenStudio-server is based around Docker Swarm and AMIs from AWS. What are the options for people who don't want to run on AWS? Would using Kubernetes instead of Docker Swarm make it easier to run on other cloud providers such as Microsoft Azure and Google Cloud Platform and on your own server?

[2018-04-10 14:43] ljbrackney commented on #323
The readme on the project front page contains instructions on how to deploy OpenStudio Server on your own machine via Docker.  We use Docker to deploy to private servers regularly, as do others.  These instructions could be adapted to create images for other cloud providers.

[2018-04-11 17:06] anyaelena commented on #269
Ok.  Running via CLI, there is an error finding EnergyPlus.   This is from run.log generated via CLI call `openstudio run --workflow #{osw_path} --debug`.  I'll keep investigating, but putting this out there in case it's clear to one of you.

[code]

[2018-04-11 17:17] macumber commented on #269
Related to this: https://github.com/NREL/OpenStudio/issues/2911

For now when you call openstudio, use the full path to invoke it:

    /usr/bin/openstudio run --workflow #{osw_path} --debug

[2018-04-11 17:44] anyaelena commented on #269
Thanks Dan!

[2018-04-11 17:46] nllong commented on #323
You can deploy using docker swarm relatively easy.

https://github.com/NREL/OpenStudio-server/wiki/How-to-Locally-Deploy-Custom-(non-NREL-release)-OpenStudio-Servers
https://github.com/NREL/OpenStudio-server/wiki/User-OpenStudio-Server-Deployment#creating-the-docker-deployment

If you are interested, reaching k8s could be accomplished using [kompose](https://github.com/kubernetes/kompose)

[2018-04-11 17:47] rHorsey commented on #323
Hi @anchapin - your comment above looks about right to me. We don't have the resources internally to support multi-cloud deployment, and it's not clear that switching to k8 will reduce the level of sys-admin experience required. As the tesla breach and other such stories have shown, setting up secure k8 clusters requires some degree of technical expertise. This is something that I'd love to have h

[2018-04-11 20:08] anyaelena commented on #269
Working in Travis,  working through AppVeyor errors:

@macumber the CLI should run `openstudio.exe run --workflow #{osw_path} --debug` on Windows, correct?  No path prefix required?

@rHorsey @nllong i'm getting a bunch of these [permission denied errors](https://ci.appveyor.com/project/rHorsey/openstudio-server/build/1.0.1495-270-241-develop#L1891).  recognize them?   I don't see an obvious relat

[2018-04-11 20:54] macumber commented on #269
The path issue wasn't a problem on Windows but never hurts just in case

[2018-04-11 20:56] nllong commented on #269
The permission denied errors do not ring a bell on my end.

Calling via backticks sound reasonable. I think we want a timeout, but have no idea on the length of that timeout, 1 hour would be too low, 4 hours would be pointless. So maybe 2 hours? @rHorsey

[2018-04-12 03:38] shorowit commented on #249
I just successfully ran an analysis with a 172mb zip file. Seems like it's fixed?

[2018-04-12 15:16] anyaelena commented on #269
Sorry, there may be a bit more delay while I figure out a debugging strategy for this on Windows.

[2018-04-13 21:43] rHorsey commented on #321
Assigning this to @kflemin, although I don't expect it to be closed in the near future.

[2018-04-13 21:43] rHorsey commented on #249
Yes!!! This is so exciting! Thanks @brianlball !

[2018-04-13 21:43] #249 closed

[2018-04-18 03:59] anyaelena commented on #248
Per Pivotal, it looks like this should be assigned to me.  It would be helpful if I could get a concrete example of what we are trying to do. I discussed with @nllong running code on only the server docker container as part of the deployment process - presumably this is "initialization".  Is "finalization" a final stage of setup or part of the destroy process for the server container?  And are we

[2018-04-18 04:08] rHorsey commented on #269
@anyaelena I have feelings about backticks vs exec vs spawn vs popen, but I fully support backticks in this case.

@nllong @anyaelena I don't think we should timeout, mostly because there are real E+ models for very very real projects that take 20 hours to run, and I think the outcomes might be better if the engineering analysis could be dusted with rgenound magic for that extra 1-10%. This is a d

[2018-04-18 20:16] anyaelena commented on #248
@nllong @rHorsey Notes from our call:

Analysis finalization should be triggered from web_background but run on web_1, which has superior resources and memory management.

Consider triggering this via a HTTP action for the analysis.  Since this may take longer than a standard HTTP request and we don't want it to time out, we will still need the actual script(s) to run in the background on web_1, m

[2018-04-18 20:31] anyaelena commented on #269
Adjusting to 4 hour timeout (per @asparke2 i am told)

[2018-04-18 22:45] anyaelena commented on #269
As discussed the @nllong and @rHorsey this assumes that the openstudio executable can be found in PATH.

[2018-04-19 15:37] anyaelena commented on #50
Is there an OpenStudio Server - specific favicon?  I'm adding the OpenStudio one unless I hear otherwise.

[2018-04-25 19:47] anyaelena commented on #248
I guess there is no reason for the http call.

1. Analysis completes
2. web_background puts run_finalization_scripts in queue
3. web_1 runs  "run_finalization_scripts" in background

[2018-04-27 03:13] anyaelena opened #328 "Travis test.sh not running unit tests for OSX / test"
Pass:
https://travis-ci.org/NREL/OpenStudio-server/jobs/368711176#L1136

Fail:
https://travis-ci.org/NREL/OpenStudio-server/jobs/371844401#L1136

Neither looks like it is running a suite of unit tests.

For comparison, Ubuntu/test: https://travis-ci.org/NREL/OpenStudio-server/jobs/368711174#L1457

Note also that the [commit](https://github.com/NREL/OpenStudio-server/commit/fab91cfcd6c9d2263c680531

[2018-04-27 03:36] anyaelena commented on #328
@nllong I'm finding [this](https://github.com/NREL/OpenStudio-server/blob/develop/ci/travis/test.sh#L11) and [this](https://github.com/NREL/OpenStudio-server/blob/develop/ci/travis/test.sh#L16) weird.  The -e option for rspec should run only tests with full description that matches the argument.  But I'm not seeing the descriptions for our specs using a 'unit test' or  'analysis' naming convention

[2018-04-27 20:03] anyaelena commented on #328
I have this issue wrong - it's really a problem with transparency of how tests are running and visibility into output.  [Relevant commit](https://github.com/NREL/OpenStudio-server/commit/f5765b41e91ff627a60cd1f986af062686b501f7) runs unit tests in /server through a single test in the main openstudio_meta_spec using the -e rspec filter.  Will chat with @rHorsey

[2018-04-27 20:04] #328 closed

[2018-04-27 20:22] anyaelena opened #329 "output from unit tests should be available for appveyor, travis"
### General Issue / Feature Information

**Description**

Overall, it sounds like the unit tests should be the tests in /server/spec and integration tests should be /spec.   Agree?

[This commit](https://github.com/NREL/OpenStudio-server/commit/f5765b41e91ff627a60cd1f986af062686b501f7) broke out integration and unit tests for CI purposes.  Unit tests are run though a [single test](https://github.c

[2018-05-06 20:37] anyaelena commented on #329
I stand by need to document what we expect to run for unit vs integration tests, and which environment (local-test vs test?) but for now, I think that we can get the output from the unit tests by just [adding --debug and --verbose](https://github.com/NREL/OpenStudio-server/commit/45c63819515a3fb81e57bcdc8a1ca29e8efa9ac0) to the "unit test to run unit tests"

[2018-05-06 21:21] #50 closed, assigned to anyaelena

[2018-05-06 23:13] anyaelena opened #330 "Rename server/app/workers to more accurate name"
This contains code for jobs run on background and web in addition to workers.

[2018-05-07 16:31] anyaelena commented on #329
nope: https://travis-ci.org/NREL/OpenStudio-server/jobs/375955338

[2018-05-07 17:24] anyaelena opened #331 "document environments"
1. Rails environments in /server (do we use all of these?)
2. RUBY_ENV used in [Travis](https://github.com/NREL/OpenStudio-server/blob/develop/ci/travis/test.sh)
3. docker-compose.* files

[2018-05-07 17:25] anyaelena commented on #331
@nllong any chance you could take a stab at this, if only in this issue thread?  I don't see docker-compose.local.yml used anywhere in codebase/documentation.  This is relevant as i make changes for Analysis finalization to run, which i understand to be dependent on environments using Resque.

[2018-05-08 21:31] anyaelena opened #333 "audit, consolidate & upgrade docker compose files"
these are in root and /docker/development and docker/deployment

relevant [config sharing documentation](https://docs.docker.com/compose/extends/) for docker-compose

[2018-05-29 19:29] pflaumingo opened #337 "Morris method generates incorrect number of runs"
When using the morris method on the OpenStudio-server for deployments after the 2.4.1 release, or thereabouts, the os-server generates the incorrect number of runs. Initially, the number of datapoints generated seems to be correct r(p+1), but after completion of the first set of runs, it seems to add additional datapoints - this is just a rough observation and may not be exactly when additional ru

[2018-05-29 19:31] brianlball commented on #337
The R log shows the R script is creating the right number of variable sets (pre-datapoints) to run, however more datapoints are being created than requested somewhere.

[2018-06-02 21:36] anyaelena commented on #329
This is actually addressed by the print_logs.sh output a little lower in logs.  Closing.

[2018-06-02 21:36] #329 closed

[2018-06-05 18:04] anyaelena opened #340 "Move Docker testing from Circle to Travis"
More details from @nllong

[2018-06-06 18:29] padmassun opened #342 "OS-Server fails to build AMI because tag called latest for Mongo was not found"
@rHorsey @anyaelena @phylroy

#### Problem:
The AMI creation fails because it was not possible to find the tag called `latest` for both _**MongoDB**_ and _**Redis**_, when the script attempts to push the MongoDB and Redis image (from dockerhub) into the local docker registry (localhost:5000)

When the repository is pulled from the dockerhub, the image for mongo is listed as:
[code]

When calling `

[2018-06-06 18:32] brianlball commented on #342
@nllong fyi

[2018-06-06 22:31] nllong commented on #342
I think we should lock down the versions of mongo and redis
On Wed, Jun 6, 2018 at 12:32 brianlball <notifications@github.com> wrote:

[2018-06-08 20:01] padmassun opened #348 "memfix.rb kills download process"
Please see https://github.com/NREL/OpenStudio-server/issues/348#issuecomment-396321854 for more details.

The file is being sent using Rail's send_file https://github.com/NREL/OpenStudio-server/blob/pad_nrcan_2.4.3/server/app/controllers/analyses_controller.rb#L732

nginx.conf file: https://github.com/NREL/OpenStudio-server/blob/pad_nrcan_2.4.3/docker/server/nginx.conf

The download file is about

[2018-06-11 14:22] nllong commented on #348
Hi @padmassun. I thought you submitted a fix for this off your branch? Did I miss something?

Nick

[2018-06-11 16:21] padmassun commented on #348
Hello @nllong ,

Re #347
`docker/deployment/scripts/aws_osserver_init.sh`
 + ^ it was a fix for mongo and redis not found which relates to #341

`docker/server/nginx.conf`
 + This was an attempt to fix large file download stopping halfway.

I thought the downloads were not working because the expire was not set to max, But, it seems that it was not the issue.

After digging a bit deeper, I found t

[2018-06-11 17:30] padmassun commented on #348
Hello,

It seems the main culprit is the memfix.rb from https://github.com/NREL/OpenStudio-server/blob/develop/docker/server/memfix.rb#L3

The PID killed by the memfix.rb corresponds to the Passenger's message. Please see the log output below.

From `/opt/openstudio/server/log/mem_saver.log`

[code]
From `var/log/nginx/

[code]

[2018-06-11 21:00] padmassun commented on #348
The memfix.rb kills processes if any of the ruby process in the web container which exceeds the given limit of `500000` (not sure about the units). This is checked every 901 seconds.

The rail's send_data uses memory greater than the specified limit of `500000` and it gets killed by the memfix.rb

This triggers phusion passenger, which identifies that the PID does not exist and removes it, and thi

[2018-06-11 21:11] nllong commented on #348
well done with the investigation.

@henryHorsey FYI

[2018-06-12 12:10] padmassun commented on #348
For now I have commented out the part of the code (https://github.com/NREL/OpenStudio-server/commit/72e80989a7f30dfceb3c251c45bc18c9d1a4de0d) which calls the memfix.rb as a temporary workaround. So this issue is atleast solved on the nrcan's branch.

[2018-06-12 12:12] padmassun commented on #342
Resolved on nrcan's side with (https://github.com/NREL/OpenStudio-server/pull/341)

[2018-06-14 17:48] anyaelena opened #358 "Full integration test set up in Travis"
Test Docker deployment with worker, web_background, and web containers.  Current CircleCI testing runs all queues on web container.

[2018-06-21 16:13] nllong commented on #342
Resolved on nrel side as well! Thanks @padmassun

[2018-06-21 16:13] #342 closed

[2018-06-21 16:16] nllong commented on #316
The sourceforge repo is the problem. Moved container builds and tests to Travis... let's see if it gets better.

[2018-06-21 19:35] #274 closed

[2018-06-21 19:35] #340 closed

[2018-07-13 15:09] padmassun opened #366 "Datapoints of a running analysis fail because of time/retry limit while worker attempts to upload datapoint.zip to server"
### General Issue

Datapoints of a running analysis to fail because of time/retry limit while worker attempts to upload datapoint.zip to server.

[code]
c3.8xlarge Specs: `60 GB RAM`, `36 cores`, `640 GB` (2 * 320 GB SSD)

Script used to start server: https://github.com/canmet-energy/start_aws_server

Server branch: https://github.com/NREL/OpenStudio-server/tree/nrcan_2.4.3_test

### Server detail

[2018-07-13 16:07] brianlball commented on #366
I know a bunch of timeout / file size related issues have been addressed recently.  Hopefully 2.6.0 will fix a bunch of those.  There is also this commit from a while back that may help you:

https://github.com/NREL/OpenStudio-server/commit/442537a619eae2714174bdbe6c25e4bd9136e2e9

[2018-07-13 16:14] padmassun commented on #366
Hello @brianlball,

Thank you for the quick response. I was aware of this, and I have already increased the nginx upload limit. This server already has this fix applied.

Thank you.

https://github.com/NREL/OpenStudio-server/commit/bef391d2e9ceeade0948d4e6d9fc772903a58960

[2018-07-13 16:46] nllong commented on #366
I imagine that one of the `Timeout.timeout(...)` methods is killing the process. Especially if it takes anytime greater than 240 seconds. I think we should relax these constraints. Also, it looks like we should fix the uploading on retry due to the multiple 'zip file' links that are appearing in the dashboard.

https://github.com/NREL/OpenStudio-server/blob/d61dcbc8548d6366e176d64297db0912aa14a09a

[2018-07-16 16:50] brianlball opened #370 "add Redis info to Deployment wiki"
with the addition of Redis, the deployment wiki needs updating to add instructions on how to use and install the new container, etc.

[2018-07-26 20:20] anyaelena commented on #242
Per Kat, nodes are not showing up on OpenStudio Server nodes tab.

[2018-07-26 20:22] anyaelena commented on #251
Closing.  Please re-open if this issue occurs for current versions of PAT (>= 2.6.0).

[2018-07-26 20:22] #251 closed

[2018-07-31 20:05] anyaelena commented on #333
too ambitious, anya!

[2018-07-31 20:05] #333 closed

[2018-07-31 21:18] anyaelena commented on #330
this is in the analysis [finalization scripts branch](https://github.com/NREL/OpenStudio-server/pull/332)

[2018-08-05 22:36] anyaelena opened #377 "resque workers task in web container should restart automatically"
currently run as background task in start_server.sh.  we should use systemctl or supervisord.

[2018-08-06 16:45] nllong opened #378 "Unable to run_single when seed value is set"
In PAT
* create a new project with single run
* set algorithm to single run
* set a seed value in the algorithm setting
* run the analysis in the server
* check the resque logs

[code]

Note that seed should not be a valid field for single run.

![image](https://user-images.githubusercontent.com/1907354/43729732-6a077908-9966-11e8-8fca-49cf83dcf2b1.png)

[2018-08-17 15:11] padmassun commented on #366
Similar issues were observed with 2.6.0
Image built from https://github.com/ckirney/OpenStudio-server/tree/nrcan_2.6.0
( @ckirney did not have access to OS-Server yet, so it was forked)

![image](https://user-images.githubusercontent.com/24966493/44273463-9271b480-a20d-11e8-98b1-02e7b3fa21b5.png)

### Sample Datapoint Simulation Log
[code]

[2018-08-21 20:14] #378 closed

[2018-08-21 20:15] #316 closed

[2018-08-29 17:14] anyaelena opened #384 "logs from finalize and initialize scripts should be accessible via web dashboard"

[2018-08-30 19:19] anyaelena commented on #384
datapoint script logs should be included in the downloaded zip file.  analysis script logs are included in the log view of gui. see [pr](https://github.com/NREL/OpenStudio-server/pull/385)

[2018-08-30 19:59] #269 closed

[2018-08-31 02:28] anyaelena opened #386 "wiki should be updated for datapoint and analysis finalization scripts"

[2018-09-04 11:35] anyaelena opened #388 "upgrade ruby to supported version"
2.2 support ended 3/18

[2018-09-04 11:44] #248 closed

[2018-09-04 11:45] anyaelena commented on #384
@DavidGoldwasser tested/confirmed for analysis.

[2018-09-04 20:18] #270 closed

[2018-09-04 20:18] #330 closed

[2018-09-06 02:28] anyaelena opened #390 "workflow gem should be removed from server/Gemfile"
we are getting CI test failures on both appveyor and travis when this is removed.  See commits/build results on this [PR](https://github.com/NREL/OpenStudio-server/pull/389)

[2018-09-06 02:29] anyaelena opened #391 "travis build type docker always fails on release branch because docker image isn't available yet"

[2018-09-06 17:06] anyaelena opened #392 "build from ci"

[2018-09-06 20:28] anyaelena commented on #392
issue is that building it tends to work on only the build machine

[2018-09-06 22:01] DavidGoldwasser commented on #252
Chris B. was able to reproduce this problem with arguments keys that contain periods (90.1).
[03_LearningCenter.zip](https://github.com/NREL/OpenStudio-server/files/2358870/03_LearningCenter.zip)

[2018-09-06 22:04] rHorsey commented on #252
The behavior gets funky starting with an exception [here](https://github.com/NREL/OpenStudio-server/blob/develop/server/app/workers/run_simulate_data_point.rb#L225)

[2018-09-07 03:36] DavidGoldwasser commented on #252
I was able to resolve the issue for specific project by updating the measure to cleans names used similar to how runner.registerValues from model objects are cleansed in reporting measures. Arguments didn't cleanly update in PAT without deleting and re-adding the measure. I first tried changing the model used for arguments, and then changing it back. Seems like an easy fix could be to update PAT t

[2018-09-11 16:46] DavidGoldwasser opened #394 "Internal 2.6.2 OpenStudio mac installer can't find standards gem"
Here is the error I see on local run when trying to use the standards gem.

"[10:41:38.077046 ERROR] /Applications/OpenStudio-2.6.2/ParametricAnalysisTool.app/Contents/Resources/OpenStudio-server/gems/gems/openstudio-workflow-1.3.3/lib/openstudio/workflow/util/measure.rb failed with message cannot load such file -- openstudio-standards in /Applications/OpenStudio-2.6.2/ParametricAnalysisTool.app/C

[2018-09-11 19:06] anyaelena opened #396 "print_logs.sh doesn't run on travis/ubuntu"
pv command not found

https://travis-ci.org/NREL/OpenStudio-server/jobs/427340130#L1817

[2018-09-11 19:18] anyaelena commented on #396
pv not installing https://travis-ci.org/NREL/OpenStudio-server/jobs/427340130#L515

[2018-09-11 20:01] anyaelena opened #397 "need to access to datapoint logs in ci output"

[2018-09-11 21:05] anyaelena opened #398 "nokogiri error on travis (ubuntu/osx)"
https://travis-ci.org/NREL/OpenStudio-server/jobs/427382134#L5178 only on "test" builds

[2018-09-11 21:06] anyaelena opened #399 "supported platforms error on appveyor"
https://ci.appveyor.com/project/NREL_CBRG/openstudio-server/build/1.0.280-cli#L2385

[2018-09-11 22:15] anyaelena commented on #398
confirmed that we're seeing this error on passing "integration" builds as well: https://travis-ci.org/NREL/OpenStudio-server/jobs/427402248#L2004

[2018-09-14 16:08] anyaelena commented on #390
run_simulate_datapoint has a call to Workflow.extract_archive which will need to be replaced before this dependency is gone.

[2018-09-14 16:08] anyaelena opened #400 "instead of printing logs, try accessing as build artifacts"

[2018-09-14 18:04] #396 closed

[2018-09-17 20:07] rHorsey opened #403 "Appveyor VMs not failing when unable to discover openstudio.exe"
### General Issue / Feature Information

**Description**
While debugging the appveyor builds using the rdp functionality it was discovered that in the integration test routine each datapoint failed (as it was unable to find openstudio.exe on the path) however this error was not ultimately manifest in an exit code 1 from the test. It is unclear why the checks for ensuring each datapoint detailed st

[2018-09-17 21:43] anyaelena commented on #394
nick added a test for this, but we've been unable to reproduce the error.

[2018-09-17 22:11] anyaelena opened #404 "update Dockerfile to use openstudio-cli image."

[2018-09-17 22:56] rHorsey opened #405 "Ensuring openstudio.exe discovery process on Windows is reflected in Appveyor"
### General Issue / Feature Information

**Description**

There has been a bug due to Appveyor being unable to find `openstudio.exe`. See #403 for the log file in question. It's unclear how the openstudio.exe file should be found on the appveyor file system. @axelstudios suggests that setting `$PATH` may not actually reflect how OpenStudio itself installs on Windows. Given this, I would like to en

[2018-09-18 13:04] nllong commented on #394
I think I need to understand how you are running the analysis a bit better. Let's chat this week.

[2018-09-18 19:28] DavidGoldwasser commented on #394
@nllong I was doing a local manual run from PAT in workflow that had measures that required openstudio-standards.

[2018-09-18 20:28] rHorsey commented on #405
This is being addressed by two PRs: https://github.com/NREL/OpenStudio-server/pull/393 and https://github.com/NREL/OpenStudio-PAT/pull/95 - the phillosphy is that PAT knows where the openstudio cli exe is, just as it knows where the energyplus exe is, and so the openstudio cli exe will be passed to the child processes as an envvar through the meta-cli, just as the energyplus exe is.

[2018-09-18 20:29] rHorsey commented on #394
This ticket is a manifestation of a merge error which lead to the CLI not being used - this is being resolved in https://github.com/NREL/OpenStudio-server/pull/393

[2018-09-19 02:14] anyaelena commented on #384
We just need to confirm that the data point scripts are included in downloaded zip

[2018-09-25 20:09] rHorsey commented on #394
We believe that this is fixed in the most recent 2.6.2 candidate. @DavidGoldwasser can you please confirm.

[2018-09-25 20:10] #405 closed

[2018-09-25 20:11] rHorsey commented on #405
Completed by PR #407

[2018-09-25 20:11] rHorsey commented on #403
Closed by #407

[2018-09-25 20:11] #403 closed

[2018-09-25 20:13] rHorsey commented on #399
It appears that this may have been fixed - waiting to see if it reemerges.

[2018-09-25 20:14] rHorsey commented on #398
We believe this has been fixed with #407

[2018-09-25 20:14] #398 closed

[2018-09-25 20:14] #399 closed

[2018-09-26 17:32] anyaelena opened #409 "OSX builds error out related to Ruby version"
https://travis-ci.org/NREL/OpenStudio-server/jobs/433611627#L1165

This is new (prior commit passed for OSX) and not related to the specific commit (which changes only the tag used in the Dockerfile).

[2018-09-27 03:26] anyaelena opened #411 "instructions to build custom ami w/Jenkins"
see 2.6.2-rc1-amis branch.  note that i manually tagged and pushed the 2.6.2-rc1 openstudio-server and openstudio-rserve images to my own dockerhub account for this release.

[2018-09-27 03:32] anyaelena opened #412 "error building amis"
"cannot load such file -- openstudio-standards (LoadError)"

with the 2.6.2 removal of openstudio-standards from the server/Gemfile, it's version needs to be checked via Oscli call rather than bundle exec ruby.

This is fixed in #410

[2018-10-12 16:42] anyaelena opened #417 "rename OS_SERVER_NUMBER_WORKERS to be more accurate"

[2018-10-12 18:08] anyaelena opened #418 "Standardize calls to Oscli"
In addition to the call to run simulations, we are also calling Oscli [here](https://github.com/NREL/OpenStudio-server/blob/develop/server/app/controllers/admin_controller.rb#L43) to display OpenStudio version in UI.  This code is  not compatible with Windows or Docker deployments.  For windows, we need .exe extension.  For Docker, we need to set the --bundle args.

This needs to be standardize ca

[2018-10-17 20:03] anyaelena opened #420 "include oscli output with data point log"
we are logging output [here](https://github.com/NREL/OpenStudio-server/blob/develop/server/app/jobs/dj_jobs/run_simulate_data_point.rb#L203) but never copy it to the main log for that data point.

[2018-10-17 22:29] anyaelena opened #421 "Need to escape some characters in Oscli calls."
Oscli was trying to run the below command (<username> replaced for privacy) for a user with a space in the path to the Pat project.

`
/Applications/OpenStudio-2.7.0/ParametricAnalysisTool.app/Contents/Resources/OpenStudio/bin/openstudio --verbose run --workflow /Users/<username>/Documents/Projects/AFDD/Model Generation/test_pat_3/temp_data/analysis_34028082-edbe-415c-b3d7-0ee27c73ceb4/data_point_

[2018-10-19 08:58] agonzalezesteve opened #422 "Sobol method plots"
Using the Sobol method for sensitivity analysis doesn't draw plots with the results (compared to Morris and FAST99 methods).

![image](https://user-images.githubusercontent.com/38532229/47207894-bdeb5980-d38c-11e8-9338-9cd3c0ffea50.png)

**Sobol method**

![image](https://user-images.githubusercontent.com/38532229/47207939-de1b1880-d38c-11e8-9827-b916eeed2a95.png)

**Morris method**

![image](http

[2018-10-30 21:33] anyaelena opened #424 "run data point initialization script after worker_initialization"

[2018-10-31 02:05] anyaelena opened #425 "analysis marked "complete" before finalization scripts run"

[2018-11-05 16:19] brianlball commented on #337
@pflaumingo  Is this still happening in 2.7.0?

[2018-11-05 20:03] anyaelena opened #429 "reported server finalize running more than once, including before data points complete"
finalize.log for analysis being created on web-background while datapoints are still running, and overwritten later.

[2018-11-05 20:37] #420 closed

[2018-11-07 00:28] brianlball opened #430 "Morris method can create points that dont satisfy boundary"
Morris method can create datapoints that dont satisfy the min/max settings.
This can happen depending on grid_jump and level params in the algorithm settings

[2018-11-07 00:30] brianlball commented on #430
fixed in https://github.com/NREL/OpenStudio-server/pull/431

[2018-11-07 21:08] #418 closed

[2018-11-07 21:08] #421 closed

[2018-11-07 21:30] #430 closed

[2018-11-08 02:55] anyaelena opened #432 "download mechanism for analysis finalization/initialization logs and related output"

[2018-11-13 16:38] brianlball opened #435 "Incomplete datapoints are created causing server hang"
The server will create incomplete datapoints which hang up the server.
There is a 503 error in the resque admin page.
Going into the resque admin page and clicking retry failed jobs will restart them and get the process going again.
debugging reveals adding Retry's to the RestClient calls in https://github.com/NREL/OpenStudio-server/blob/develop/server/app/jobs/dj_jobs/run_simulate_data_point.rb s

[2018-11-13 16:40] brianlball commented on #435
testing in this branch looks successful so far
https://github.com/NREL/OpenStudio-server/tree/restclient_retry

[2018-11-13 18:14] brianlball commented on #435
fixed in https://github.com/NREL/OpenStudio-server/pull/436

[2018-11-13 18:42] brianlball opened #437 "cancel run does not work anymore"
run any of the SEB examples and try and cancel the run.

[2018-11-13 18:47] brianlball commented on #337
This is still a thing as of 2.7.1

[2018-11-13 18:57] macumber commented on #337
As an FYI, the 2.7.1 installer that is available does not have PAT updates or Server updates relative to 2.7.0

[2018-11-14 00:56] joseph-robertson commented on #432
I have a file, `/mnt/openstudio/server/analyses/ANALYSIS_ID/results_savings.csv`, on the web-background container that I'd like to be downloadable.

[2018-11-14 16:43] anyaelena opened #438 "remove workflow gem dependency"
we still use a method to extract the pat project from zip, but this can be replaced.

[2018-11-14 22:17] nllong commented on #435
Brian, can we close this ticket since you said it was fixed in #436.

[2018-11-14 23:30] #409 closed

[2018-11-14 23:31] #370 closed

[2018-11-14 23:32] #384 closed

[2018-11-15 01:01] #435 closed

[2018-12-03 18:18] anyaelena commented on #425
this is messier than i like.  i'll need input from @nllong and @rHorsey

a few notes:
1. the code to check for and execute the finalization script only runs in resque-based environments, so we'll need a if/else to [check job manager](https://github.com/NREL/OpenStudio-server/blob/develop/server/app/lib/analysis_library/base.rb#L52).  for delayed_job, nothing should change
2. analysis status is app

[2018-12-03 23:36] nllong opened #444 "OpenStudio Worker Init Example"
### General Issue / Feature Information

**Description**

We need to update the example worker init script.

https://github.com/NREL/OpenStudio-server/wiki/Gem-Bundle-used-by-OpenStudio

with

https://github.com/nllong/ambient-loop-pat-projects/blob/master/scripts/set_standards_version.sh

The new version has the ability to run on OSX as well as docker.

Couple specific questions/observations:
1.

[2018-12-04 21:12] anyaelena opened #446 "separate developer from standard documentation and clarify expectations"

[2018-12-11 23:34] rHorsey opened #448 "New AWS YML configuration leads to rails & mongo throttling issues"
### General Issue / Feature Information

**Description**

In modest-scale analyses on AWS (~150 cores in the cluster) the web gui becomes unavailable, and mongo requests time out frequently after ~30 minutes.

**Reproduction steps:**
1. Run a project that will keep several worker nodes busy for more than an hour
2. Wait 20 minutes
3. Refresh the web gui

**Actual outcome:**
Timeout error

**Expect

[2018-12-11 23:34] ejhw commented on #448
![image](https://user-images.githubusercontent.com/1276021/49837161-ae700780-fd62-11e8-944e-8458cd15c8e0.png)

[2018-12-11 23:37] ejhw commented on #448
[code]

[2018-12-11 23:49] rHorsey commented on #448
Note that this makes multi-node cluster unstable, negating the point of docker swarm. A reasonable place to catch the error this is attempting to address (the swarmkit scheduler is unable to satisfy resource requirements) is in the PAT gui settings for creating clusters.

[2018-12-12 00:07] ejhw commented on #448
This is holding me up on a series of runs I need to do for a university partner, so if someone could make a custom AMI for me that would be much appreciated.

[2018-12-12 04:37] brianlball commented on #448
There is only 8 reserved cores in that yml file, 3 for db and 5 for web, not 12.

[2018-12-12 16:45] brianlball commented on #448
@rHorsey @ejhw We need more information and what solution are you proposing?  Its not clear that the referenced commit is a problem since that has been working since July (fixed users not being able to start servers with smaller resources) and we have other anecdotal evidence of other users not having a problem with larger clusters.

If you want to propose changes to the docker-compose.yml file, I

[2018-12-12 20:12] ejhw commented on #448
I understand that this commit fixes a problem for some users, but it causes a problem for other users. It makes it impossible to use multi-node clusters for the ResStock workflow that we support for multiple private companies and academic partners.

We plan to move away from using PAT in February, but in the meantime, we need to support the ResStock workflow on PAT. Since we don't need PAT long te

[2018-12-12 20:24] brianlball commented on #448
@ejhw I've sent you a PM on slack to discuss but nobody is suggesting your users use the ssh solution.  That is to triage the problem and determine what the fix should be.

[2018-12-12 22:33] rHorsey commented on #394
lgtm

[2018-12-12 22:33] #394 closed

[2018-12-12 22:40] rHorsey commented on #432
We need to document Joe's workaround someplace in the wiki.

[2018-12-12 22:43] rHorsey commented on #422
tested by @brianlball

[2018-12-12 22:43] #422 closed

[2018-12-12 22:53] nllong commented on #437
PAT: 2.7.1
OpenStudio Server: 2.7.1

The status gets set to Complete almost immediately, but the set of simulations that are queued are left in the queue to finish. Do you expect that all the queued simulations disappear upon clicking "cancel"?

![image](https://user-images.githubusercontent.com/1907354/49903949-ee4bf300-fe25-11e8-8e34-9c72257a3bb5.png)

[2018-12-12 22:55] rHorsey opened #449 "Analysis status completes immediately when mongo service is substantially degraded."
### General Issue / Feature Information

**Description**

The analysis status jumps very quickly / immediately to complete. We anecdotally believe this to be because an substantially degraded mongo service that leads to multiple database states which in turn leads to the web background queue seeing a 'all completed' database state when one does not in reality exist. If this theory is correct, it w

[2018-12-12 22:58] rHorsey commented on #358
`resque:run_simulate_datapoint_spec` tests this.

[2018-12-12 22:58] rHorsey commented on #358
nvrmind.

[2018-12-12 23:10] anyaelena commented on #358
We do test the resque workflow in two specs [here](https://github.com/NREL/OpenStudio-server/tree/develop/server/spec/features).  We may decide to skip this task and instead focus on more rigorous regression testing on a dedicated machine using [test cases](https://github.com/NREL/OpenStudio-PAT/tree/develop/sample_projects) in PAT repo.

[2018-12-14 16:59] brianlball commented on #448
the 'limits' in the yml file were indeed causing lots of workers to be assigned to the server node.  @anyaelena created an AMI '2.7.1-largescale0' which has that change reverted.

An issue was also created in PAT for addressing the related resource startup error for smaller servers by removing the 4cpu servers from possible selection here https://github.com/NREL/OpenStudio-PAT/issues/101.  That in

[2018-12-14 17:51] anyaelena opened #452 "create separation between lists for custom vs release-track amis"
This is a feature request. As we are moving toward publishing more AMIs for testing purposes, we will not want to expose all custom AMIs in the PAT dropdown.

[2018-12-15 03:15] anyaelena commented on #411
https://github.com/NREL/OpenStudio-server/wiki/Developer-Guide:-Building-and-Publishing-AMIs

[2018-12-15 03:17] anyaelena commented on #411
assigning to nick for review (talked through some details w/ry)

[2018-12-15 03:20] anyaelena commented on #411
as a note, someone deleted my 2.6.2-rc1-amis branch - boo!  i was keeping it around as a record of the process.

[2018-12-20 19:14] anyaelena commented on #444
"The new version has the ability to run on OSX as well as docker." - we only run initialize/finalize on docker though, right?

[2018-12-27 19:55] nllong commented on #444
Ahh, yes, init/final should only be via docker. I was testing on OSX but that shouldn't be supported for the typical user/developer.

[2019-01-10 20:55] anyaelena commented on #358
removing "in Travis" from title.  we may do integration/regression/algorithm testing all at once by running the examples from PAT repo

[2019-01-10 22:17] anyaelena commented on #429
see #449

[2019-01-17 21:07] anyaelena commented on #437
working on two things:

1. Reviewing implications of introducing "pending cancellation" and "cancelled" statuses for analyses.
1. Deletion of all queued simulations when analysis in cancelled.  Note that these do  clear out quickly by failing with a `undefined method `status=' for nil:NilClass` error once the analysis has been cancelled.  Not ideal but at least the workers do free up.

[2019-01-21 20:50] anyaelena opened #455 "Ruby update"
Ruby 2.2 support ended June 2018 and we're starting to see this in all our dependencies.  This update should be coordinated with https://github.com/NREL/docker-openstudio/issues/47 and the updates happening in OpenStudio develop3 branch. @macumber

[2019-01-22 16:37] #425 closed

[2019-01-22 23:20] anyaelena opened #456 "add "canceled" and "canceling" statuses for analyses"

[2019-01-23 17:19] anyaelena opened #457 "Docker swarm creating more worker replicas than allocated on AWS."
Not yet clear on exact conditions to reproduce, but we have a current example that used 2.7.1-largescale0 ami.  Web node becomes unavailable. It is pending restart because no resources are available, presumably because there are too many worker replicas.

![image001](https://user-images.githubusercontent.com/187915/51624538-47647780-1ef8-11e9-92e9-618404eda0d8.png)

[2019-01-23 18:10] brianlball commented on #457
Thats nuts.  Is that related to the possible crash or non-startup of the Web container?

[2019-01-23 18:13] anyaelena commented on #457
yes, definitely.  I think this is at the root of a few reported bugs that we've been unable to reliably reproduce.  This is my top priority right now.

[2019-01-25 02:50] anyaelena opened #458 "document recommendation to split up batch runs"
in addition to horizontal scaling concerns, there is no mechanism to recover work in the event of a failure on AWS side.

[2019-01-25 02:50] anyaelena commented on #446
pushed wiki refresh including edits from anya, nick and ry

[2019-01-25 02:50] #446 closed

[2019-01-25 02:52] anyaelena opened #459 "docker version update for amis"
update from 17.09 to 18.09.

[2019-01-25 02:53] #386 closed

[2019-01-25 02:55] anyaelena commented on #455
duplicate of #388

[2019-01-25 02:55] #455 closed

[2019-01-28 22:45] anyaelena opened #460 "user configurable timeouts for datapoints"
currently fixed at 2 hours

[2019-01-28 22:51] anyaelena opened #461 "Timed out openstudio processes aren't terminating"
Recently we have observed that OpenStudio is still running after this SIGTERM is sent:

https://github.com/NREL/OpenStudio-server/blob/develop/server/app/jobs/dj_jobs/run_simulate_data_point.rb#L214

In the case we observed, some datapoints included infinite loops.  These OpenStudio processes ended up orphaned and chewing up resources.

Working on a test to reproduce this and hopefully correct by

[2019-02-14 21:21] eshadd commented on #309
I have this same issue except that indeed, I do see two to three copies on Linux (lubuntu 14.04). I run on lubuntu and open in lubuntu.

[2019-02-14 21:49] anyaelena commented on #448
This revert was merged and will be included in 2.7.2. @ejhw i heard you may still be seeing a similar issue.  If so, I'll collect details from you and open a new issue.

[2019-02-14 21:49] #448 closed

[2019-02-14 23:29] anyaelena commented on #437
regarding queued datapoints not being removed, [this](https://github.com/NREL/OpenStudio-server/blob/develop/server/app/models/data_point.rb#L163) must not be working as expected.

[2019-02-20 17:21] anyaelena commented on #437
ok.  Running the "SEB_calibration_RepeatRun_2013" sample project from PAT against a locally deployed instance, canceling the run from PAT has no effect.  The RunAnalysis Resque job remains active and datapoints keep running and completing.

[2019-02-20 23:05] anyaelena commented on #437
I'm fairly sure that the issue is this:

1) we only clean up "queued" datapoints when the analysis is canceled: https://github.com/NREL/OpenStudio-server/blob/develop/server/app/models/analysis.rb#L172
2) the status is set to queued in the [initialize block](https://github.com/NREL/OpenStudio-server/blob/develop/server/app/jobs/dj_jobs/run_simulate_data_point.rb#L49) for the delayed jobs job,
3) w

[2019-02-21 21:51] rHorsey opened #464 "Upgrade mongo to 4.0.5"
Currently fixed at 3.4.10

[2019-02-21 21:52] rHorsey commented on #464
This requires a update for both the docker-compose file as well as the local asset for mongo distributed through PAT. Additionally, mongoid upgrades may be needed, triggering potential updates to the models in the server.

[2019-02-26 16:27] brianlball commented on #460
in the meantime, lets change it from 2hrs to 5hrs  @nllong

[2019-02-27 19:36] #461 closed

[2019-02-28 22:32] #437 closed

[2019-03-01 18:11] anyaelena opened #467 "Analysis#show pageload times out for large runs"
Most recently w/a 30k run by @mpraprost.  Likely related to number of datapoints, although these are already paginated.

[2019-03-28 18:08] tijcolem opened #469 "Pat web admin CLI version is null for windows"
I noticed the OpenStudio Cloud Manager while using PAT shows a null value for the 'Version of OpenStudio (CLI)'  (see attached screenshot). Note this is only for Windows. Mac displays this fine.

When looking at the pat logs, I noticed the oscli version output is also null, which is consistent with the web page display. See log below:

21:40:58.178010 DEBUG] oscli version command: C:\openstudio-2.

[2019-04-03 16:53] anyaelena opened #474 "build Docker from pre-release OpenStudio images"
Need to add a build-arg for OPENSTUDIO_VERSION_EXT and build from nrel/openstudio:$OPENSTUDIO_VERSION$OPENSTUDIO_VERSION_EXT.

[2019-04-03 16:54] anyaelena commented on #392
Re-assigning to @tijcolem who is already working on this.

[2019-04-18 22:32] nllong opened #480 "Failing datapoint initialization script does not cause the data point to error out"
If a worker initialization script fails, then the simulations still attempt to run.

The ideal situation would be to error the current simulation and also error out (remove from queue) all the remaining simulations on the current worker.

I'm am working on adding a test to the framework to demonstrate this issue, but will need to be run as a functional test due to the need for resque.

[2019-04-19 18:39] anyaelena opened #481 "create integration test suite for use in automated AMI testing"
We have discussed adapting the PAT examples to run as tests.

To hook into automated CI there will need to be a command that runs whatever tests we consider appropriate for AMI testing and returns pass/fail.

[2019-04-30 15:56] macumber opened #483 "Add branch based on develop3"

[2019-05-14 14:47] brianlball opened #486 "builds fail in travis bc of rubocop-rspec update"
rubocop-rspec 1.33.0 needs Ruby >= 2.30 so for now pin to 1.32.0

![rubocop-rspec](https://user-images.githubusercontent.com/2235296/57707404-d1aa2600-7624-11e9-8308-3cebc87273b3.png)

[2019-05-14 14:48] brianlball commented on #486
fixed in PR https://github.com/NREL/OpenStudio-server/pull/485

[2019-05-30 16:10] brianlball opened #489 "server no build with redis 4.1.2"
server wont build with redis 4.1.2, needs ruby >=2.3.0
fixed in PR https://github.com/NREL/OpenStudio-server/pull/488

[2019-05-30 19:17] brianlball opened #490 "debug log and simulate datapoint logs"
Simulate Datapoint (SDP) logs make the debug log unusable when there are several datapoints and several analyses on the same server.  suggest removing the SDP logs from the debug log as the SDP logs are avail from each datapoint view.  This makes the  Rserve and Script logs easier to use

[2019-05-30 19:18] brianlball commented on #490
PR https://github.com/NREL/OpenStudio-server/pull/491

[2019-06-05 16:32] anyaelena commented on #474
this was addressed in #473

[2019-06-05 16:32] #474 closed

[2019-06-05 17:28] anyaelena opened #493 "dockerhub "latest" tag should not update for pre-release versions"

[2019-06-05 17:41] anyaelena opened #494 "do not output oss version extension on admin page"
For example, for 2.8.1-rc1, just print 2.8.1.  This is a practical detail to avoid a full rebuild for the final release version.

[2019-06-05 20:32] #494 closed

[2019-06-05 21:22] #489 closed

[2019-06-05 21:22] #486 closed

[2019-06-05 21:22] #469 closed

[2019-06-05 21:23] anyaelena commented on #391
closed in #473

[2019-06-05 21:23] #391 closed

[2019-06-05 21:24] anyaelena commented on #404
closing.  we aren't going to do this.

[2019-06-05 21:24] #404 closed

[2019-06-05 21:25] anyaelena commented on #411
I've been using this for a while.

[2019-06-05 21:25] #411 closed

[2019-06-12 19:09] pkovacs19 opened #500 "PAT on remote server - "Analysis Error""
### General Issue
I have installed the server on a remote system using the docker-compose method.  I am able to connect to the server and run a PAT analysis from one machine, but not another.  The machine which errors out, connects just fine, but when I start the analysis, I the green status bar returns "Analysis Error"  the project does not appear on the server so I'm not sure to investigate the

[2019-06-12 19:18] brianlball commented on #500
when you say docker-compose method, are you using docker swarm as detailed here https://github.com/NREL/OpenStudio-server/wiki/Deployment-Using-Docker-Swarm

[2019-06-12 19:31] pkovacs19 commented on #500
I was following the instructions on the README, pasted below:

Install Docker Compose (Version 1.17.0 or greater is required)

Docker compose will be installed on Mac and Windows by default
Linux Users: See instructions here
Run Docker Compose
docker-compose build
... be patient ... If the containers build successfully start them by running docker volume create --name=osdata && docker volume creat

[2019-06-12 19:40] brianlball commented on #500
Those instructions might be outdated.

I'd suggest trying the swarm method on the wiki page.
Also try using the nuke.sh script https://github.com/NREL/OpenStudio-server/blob/develop/local_setup_scripts/nuke.sh with the argument 2.7.2 (if thats the version you want to use).  That script will pull the docker containers and stack deploy them.  You will probably have to edit it for you file paths, etc

[2019-06-12 19:53] pkovacs19 commented on #500
I will try that.  If I can see the console and run analysis from another machine but not from another, would that really mean my deployment was all wrong?

[2019-06-12 19:58] brianlball commented on #500
regarding the machine that fails, have you tried submitting a job from a freshly redeployed server?

[2019-06-12 20:20] brianlball commented on #500
also in your PAT project directory, anything in your logs folder?

[2019-06-12 22:12] pkovacs19 commented on #500
So after going through the instruction for docker swarm, I seem to have taken a step back.  I can no longer get to the os server dashboard.  All of the services seems to start up just fine, but I can no longer go to myaddress.mydomain.com:8080 to see the management console.

Also, on the jobs which would not run, the PAT project is never created on the server, so im not sure where to find logs for

[2019-06-12 22:26] brianlball commented on #500
can you post the results of

are you using any of the files in the local_setup_scripts directory?
did you create a docker registry?
did you push the containers to the registry?
is your docker-compose.yml file pointing to the registry like the one in the /local_setup_scripts dir?
and how many cpu's do you have on your server?
whats the value of the enviroment variable OS_SERVER_NUMBER_OF_WORKERS?

[2019-06-12 22:41] pkovacs19 commented on #500
[root@docker local_setup_scripts]# docker info
[code]
[root@docker local_setup_scripts]# docker image ls
[code]
[root@docker local_setup_scripts]# docker service ls
[code]

Yes, I ran through the nuke.sh script as you suggested. adjusting the file paths to the docker-compose.yml files which i created following the wiki here https://github.com/NREL/OpenStudio-server/wiki/Deployment-Using-Docker-Swa

[2019-06-12 22:55] brianlball commented on #500
yep, the nuke script will download and setup the registry for you and then pull and push the containers to it.

hmmm, 2 cpus and 3.7 GB of ram is going to be a challenge to run a server on it.  are there any 'reservations' in your docker-compose.yml file?

your 'docker service ls' is showing that several of the services are not starting up. you can 'docker service inspect xxxx' and 'docker service

[2019-06-12 22:57] brianlball commented on #500
the 'image:' part of the yml file has the image tag.  the nuke script is looking for images at 127.0.0.1:5000/ which is the registry ip:port.

checkout the docker-compose.yml in the local_server_scripts

[2019-06-13 15:47] pkovacs19 commented on #500
Yeah, there are cpu reservations in the docker-compose.yml  I have them set to 1.

The output of 'docker service ls' is very similar to what they show at https://github.com/NREL/OpenStudio-server/wiki/Deployment-Using-Docker-Swarm in step 7, which says "Confirm the stack is running".  Is that not what the output should look like if the stack is running?

I changed all the image lines to be one of

[2019-06-13 15:58] brianlball commented on #500
with 2 cpus, you'll need to remove the reservations in your docker-compose.yml file.  Otherwise, docker wont have the resources to reserve and you'll get startup errors.

the output of 'docker service ls' should have them all 1/1.  0/1 means they have not started up yet or failed to start.

if you are using the registry, you'll need to put 127.0.0.1:5000 in front of the image tag so it knows to pu

[2019-06-13 16:42] pkovacs19 commented on #500
Okay, I will try deploying the stack with the docker-compose.yml file in /local_setup_scripts/. One thing I forgot to mention last time I ran the nuke.sh script was that at the end, it creates the services, increases the worker count then gets hung up, saying "overall progress: 0 out of 42 tasks".  If it gets hung there does that mean its not working correctly?

[2019-06-13 16:45] pkovacs19 commented on #500
The output from all the workers looks like

[code]

[2019-06-13 17:41] brianlball commented on #500
you'll want to edit the nuke script to just start 1 worker and not 42.

[2019-06-13 18:42] pkovacs19 commented on #500
Thanks.  I did that, and I pointed the deploy line to docker-compose.yml in the /local_setup_scipts/.  Which seemed to work okay since I can now see the cloud management console when I hit the location in my browser on port 8080, great!

However, I can send a task to the server, but its hung up on queue.   It doesnt look like every service has started.  The output of 'docker service ls' is:
[code]

[2019-06-13 19:18] pkovacs19 commented on #500
Okay, I've got all the services up and running now:
[code]

But when I submitted my project to the server, it still is stuck in the queue.

The logs for the project on the server only show a message in the RServe box:
[code]
Any tips on where else to look to for info?

[2019-06-13 22:00] brianlball commented on #500
well, you can 'docker log -f xxx' any of the containers to see their logs.

on the admin page of the web gui, you can also go to the resque dashboard.

is there any analysis showing up for your submitted job?

[2019-06-14 17:08] pkovacs19 commented on #500
I checked the docker container logs, there was nothing on the queue container, I checked them all, but the only one with stuff in it was the web, which showed the HTTP calls, and the DB container, neither of them seemed to have information about the queue.

The Resque dashboard shows that I have pending jobs, the overview tab shows 6 jobs under "analysis_wrapper" and 0 under "failed".  It also say

[2019-06-14 21:45] brianlball commented on #500
hmmm.  just for kicks, what does your drive space look like?  'df -h'  i've seen on smaller instances where that is almost full on startup.

it also sounds like it could be a networking issue between the containers, like they are not talking to each other.  Can you try adding the network section to your docker-compose.yml like the one here https://github.com/NREL/OpenStudio-server/blob/develop/loc

[2019-06-17 16:34] pkovacs19 commented on #500
drive space:
[code]

It does seem to be a networking thing to me as well.  I've already got that networking section in my docker-compose.yml file.  Here is my current docker-compose.yml file.

[code]

Could it be the host itself needs an update to the firewall rules?

The host OS is CentOS 7.6.1810.

[2019-06-17 17:10] brianlball commented on #500
well, thats enough space to at least start an analysis.

This is really similar to what happened when i tried to use VMWare on a Windows box to run the server.  I couldnt get it to work and gave up after spending too much time on it.  My hunch was it was a networking issue between the containers but i couldnt prove it.

I dont have any appreciable experience with CentOS.

Can you verify that you h

[2019-06-17 20:55] pkovacs19 commented on #500
I double checked that the "AWS_" variables were all set. They are based on the recommendations here:
https://github.com/NREL/OpenStudio-server/wiki/Deployment-Using-Docker-Swarm

The web section in my docker-compose.yml file didn't have a command section.  But I've added it and changed the others as you suggested and updated the version to '3.4'  There doesn't appear to be any change in behaviour.

[2019-06-17 21:21] brianlball commented on #500
can you try:

docker exec -it xxx ping osserver_web
docker exec -it xxx ping osserver_web-background
docker exec -it xxx ping osserver_worker

where xxx is the container ID of the Rserve container from 'docker ps'

[2019-06-17 21:28] pkovacs19 commented on #500
It appears as though Rserve is communicating with the other containers find.  When I do the above all transmitted packets are recieved.

[2019-06-17 21:28] brianlball commented on #500
also, what command are you using to startup the containers?
whats the output of 'docker network ls' and 'docker network inspect osserver_default'

[2019-06-17 21:33] pkovacs19 commented on #500
To start the dockers, I am running `docker stack deploy osserver --compose-file=/path/to/compose/yml`

output from 'docker network ls':
[code]
and from 'docker network inspect osserver_default':
[code]

[2019-06-17 21:44] brianlball commented on #500
all that looks okay to me... lets try from the other end.  Can you try and submit one of the PAT example projects from the PAT repo?  https://github.com/NREL/OpenStudio-PAT/tree/develop/sample_projects/SEB_LHS_2013

[2019-06-17 22:05] pkovacs19 commented on #500
That job also gets stuck in the queue, like the others.

![image](https://user-images.githubusercontent.com/9055617/59639894-55b66880-9111-11e9-9e5f-70c3605613de.png)

[2019-06-17 22:46] brianlball commented on #500
@anyaelena @nllong @tijcolem you guys have any ideas on this?

[2019-07-11 19:28] anyaelena commented on #388
this is going to happen in the develop3 branch for OS 3.x.  Closing this issue in favor of #483

[2019-07-11 19:28] #388 closed

[2019-07-11 20:24] anyaelena commented on #358
closing in favor of #481

[2019-07-11 20:24] #358 closed

[2019-07-30 15:20] anyaelena opened #502 "build develop3 docker image with OS 3x package."

[2019-07-30 15:21] anyaelena opened #503 "Updated local Linux/OSX testing for 3x"

[2019-07-30 16:31] anyaelena opened #504 "update to build/publish code in develop3 before merge into develop"
Develop3 branch currently set up for temporary publishing and testing paths.

Dockerfile, travis.yml, appveyor.yml, docker/deployment/scripts/deploy_docker.sh, ci/travis/setup.sh

[2019-08-02 21:17] anyaelena opened #505 "local builds for windows"
* Update appveyor for develop3 dependencies
* Clean out old appveyor build/test code
* Run openstudio_meta install_gems and publish build to s3

Currently install_gems is hitting new platform / build errors for ruby 2.5

[2019-08-02 21:21] anyaelena commented on #503
* Update Travis local builds to use Ruby 2.5.x
* Overall cleanup of old Travis testing code
* Update Travis OSX image (per @tijcolem OpenStudio is build with xcode 10.2.1 and target platform 10.12).
* Run openstudio_meta install_gems and publish build to S3.

[2019-08-02 21:39] #502 closed

[2019-08-02 21:39] #483 closed

[2019-08-02 22:06] anyaelena commented on #504
Also updating to use .dmg instead of .zip for OSX installer.

[2019-08-02 22:07] anyaelena commented on #503
Also updating to use .dmg instead of .zip for OSX installer.

[2019-08-06 18:23] anyaelena opened #507 "update server/Gemfile to openstudio-analysis 1.0.2 once available"
includes required nokogiri upgrade.

[2019-08-31 03:13] anyaelena commented on #507
done.

[2019-08-31 03:13] #507 closed

[2019-08-31 03:13] #503 closed

[2019-08-31 03:15] anyaelena opened #509 "Upload native OSX/Linux builds from Travis to S3"

[2019-09-12 18:35] brianlball opened #510 "Save Pareto Front doesnt work anymore"
save pareto front from interactive X-Y plot does not work anymore.

"were sorry but something went wrong."

Can reproduce from any analysis.

[2019-11-05 15:48] brianlball commented on #348
removing this for P+W in this branch
https://github.com/NREL/OpenStudio-server/tree/memfix-pw

[2019-11-05 16:12] brianlball commented on #366
bumping them up to an hour for the zips

https://github.com/NREL/OpenStudio-server/pull/525
https://github.com/NREL/OpenStudio-server/pull/524

[2019-11-07 17:47] brianlball opened #526 "--debug and --verbose in CLI command can cause issues"
The Server CLI command with --verbose and --debug hardcoded here:

https://github.com/NREL/OpenStudio-server/blob/develop/server/app/jobs/dj_jobs/run_simulate_data_point.rb#L195

can cause extremely large datapoint.jsons which can be over the 16MB mongo limit, depending on the workflow:

ResqueJobs::RunSimulateDataPoint
Arguments
"1222ebe3-8aa3-470a-810a-9b10da520745"
Exception
Mongo::Error::MaxBS

[2019-11-07 21:27] brianlball commented on #526
![image](https://user-images.githubusercontent.com/2235296/68429112-ba2e9e80-016a-11ea-84bd-49609f2faa76.png)

[2019-11-21 16:13] brianlball commented on #348
https://github.com/NREL/OpenStudio-server/pull/527
https://github.com/NREL/OpenStudio-server/pull/528

[2019-11-21 16:26] #490 closed

[2019-12-02 20:56] brianlball commented on #526
https://github.com/NREL/OpenStudio-PAT/pull/123

added --verbose and --debug as arguments to algorithmic mode in PAT

[2019-12-04 21:23] brianlball commented on #526
resolved server side in
 https://github.com/NREL/OpenStudio-server/pull/531
 https://github.com/NREL/OpenStudio-server/pull/532

[2019-12-04 21:23] #526 closed

[2019-12-10 16:45] #348 closed

[2019-12-10 16:49] brianlball commented on #366
making timeouts user arguments in
https://github.com/NREL/OpenStudio-server/pull/537
https://github.com/NREL/OpenStudio-server/pull/538

[2019-12-10 16:49] brianlball commented on #460
making timeouts user arguments in
https://github.com/NREL/OpenStudio-server/pull/537
https://github.com/NREL/OpenStudio-server/pull/538

[2019-12-12 15:38] brianlball commented on #510
[15:38:05.721597 INFO]   Parameters: {"utf8"=>"â", "authenticity_token"=>"IuWFEoT/eIEAcM3MD15g6JflW7Jx2tbFB00HWj2tdhOGg95riSGblE1tRmE3Gz82ID7OPqA1ODQNvOfp3oHUjw==", "variables"=>{"x"=>"calibration_reports_enhanced_20.electricity_consumption_cvrmse", "y"=>"calibration_reports_enhanced_20.natural_gas_consumption_cvrmse"}, "name"=>"savep", "data_points"=>"0d93a2cf-92a9-4151-a79a-c667a2b59d29 7c421ba7

[2019-12-12 20:39] phylroy opened #539 "NSGA Optimization: Analysis Web page crashes when optimization variable is a string."
### General Issue / Feature Information

**Description**

When issuing a analysis using a measure variable as a optimization function. If the variable is a string the analysis web page with issue a message saying "We're Sorry but an error has occurred"

**Reproduction steps:**
1. Create a report measure with a runner.registerValue("variable", "a_string")
2. In PAT set up an NSGA run and used the "

[2019-12-27 21:18] DavidGoldwasser opened #540 "Add support for OSW `file_paths` and `workflow.runner.findFile`"
The OpenStudio CLI when running OSW supports passing in multiple `file_paths` for any kind of file, beyond seed models and weather files. This is useful among other things, for when a measure requires an external user specified file. This is supported in OpenStudio 2.0 and later with the `workflow.runner.findFile` method, as demonstrated in the ChangeBuildingLocation measure.

https://github.com/N

[2020-02-21 20:05] tijcolem opened #546 "Add aws sdk gem"
Add aws sdk gem in support of P+W.

[2020-03-03 16:46] tijcolem commented on #546
Closing as a new version of `aws-sdk` conflicts with current version of `aws-sdk-core`

[2020-03-03 16:46] #546 closed

[2020-05-10 14:27] brianlball opened #560 "non-deterministic zip issue"
related https://github.com/NREL/OpenStudio-PAT/issues/138

when run through PAT, projects will show up missing measure.rb or measure.xml files after being unzipped on the server. This is non-deterministic.

if a PAT project does run successfully, submitting through CLI works everytime.
if a PAT project does not run successfully, submitting through the CLI fails everytime.

This was tracked down to

[2020-05-16 02:35] brianlball opened #565 "Dir::Tmpname.make_tmpname() is deprecated in Ruby 2.5.0"
Dir::Tmpname.make_tmpname() is deprecated in Ruby 2.5.0 so LHS doesnt work.

[2020-05-16 02:36] brianlball commented on #565
https://github.com/NREL/OpenStudio-server/pull/566

[2020-05-16 16:12] #565 closed

[2020-05-16 16:12] #560 closed

[2020-05-16 16:14] #460 closed

[2020-06-11 17:23] #366 closed

[2020-06-11 17:28] #252 closed

[2020-06-11 17:29] brianlball commented on #309
if this is still an issue then reopen

[2020-06-11 17:29] #309 closed

[2020-06-11 17:30] #246 closed

[2020-06-11 17:37] #244 closed

[2020-06-11 17:46] #239 closed

[2020-06-11 17:55] brianlball commented on #390
reopen if necessary

[2020-06-11 17:55] #390 closed

[2020-06-11 17:55] #438 closed

[2020-06-11 17:58] #500 closed

[2020-06-11 18:11] #417 closed

[2020-06-11 18:12] brianlball commented on #504
develop3 was merged.  can this get closed? @anyaelena

[2020-06-11 18:15] anyaelena commented on #504
Yes.

[2020-06-11 18:15] #504 closed

[2020-06-11 18:18] #464 closed

[2020-06-11 18:41] brianlball commented on #459
can we close this?  @anyaelena

[2020-06-11 18:43] anyaelena commented on #459
Yes.  Obsolete with the move to Kubernetes.

On Thu, Jun 11, 2020 at 12:42 PM Brian Ball <notifications@github.com>
wrote:

[2020-06-11 18:44] #458 closed

[2020-06-11 18:45] #459 closed

[2020-06-11 18:46] #452 closed

[2020-06-11 19:16] #449 closed

[2020-06-11 19:17] brianlball commented on #432
scripts show up in logs now

[2020-06-11 19:17] #432 closed

[2020-06-11 19:18] #400 closed

[2020-06-11 19:18] #467 closed

[2020-06-11 19:22] #243 closed

[2020-06-11 19:24] #265 closed

[2020-06-11 19:25] #322 closed

[2020-06-12 16:35] kbenne commented on #505
@anyaelena can you find out if this has been addressed and close if possible?

[2020-06-20 01:17] brianlball opened #570 "make optional the post of results from workers back to the server"
make posting datapoint.zip, in.osm, out.osw and /reports/*.{html, json, csv} files back to the server optional.

when a large number of results are simultaneously posted back to the server, performance can be degraded. making these optional in the server will enhance performance and allow for other results options.

[2020-06-20 01:19] brianlball commented on #570
https://github.com/NREL/OpenStudio-server/pull/571

[2020-06-27 02:04] #429 closed

[2020-07-08 18:01] #570 closed

[2020-07-08 18:02] brianlball opened #580 "add report capability to PSO"
PSO algorithm has REPORT arg.  add this and set default to 10.

[2020-07-08 18:03] brianlball commented on #580
added in PR https://github.com/NREL/OpenStudio-server/pull/581

adds this to rserve log

iter:10 Gbest: 2.550E+01 Gbest_rate: 5.71% Iter_best_fit: 2.550E+01 nSwarm_Radius: 2.81E-01 |g-mean(p)|/mean(p): 23.76%

[2020-07-09 23:44] brianlball opened #582 "Server can be unresponsive due to Docker Swarm timeout"
should be addressed in https://github.com/NREL/OpenStudio-server/pull/581

[2020-07-15 17:39] tijcolem commented on #392
Duplicate of #509

[2020-07-15 20:52] #582 closed

[2020-07-15 20:52] #580 closed

[2020-07-15 20:54] brianlball opened #587 "openstudio_meta zip enhancement"
would be great if the openstudio_meta had an option to use an osa.zip file that had a different name than the osa.zip.

[2020-08-27 17:13] tijcolem opened #590 "Build sha is missing in the singularity images"
the build sha is missing in the singularity images that are posted on s3. It should include the SHA.

e.g. `OpenStudio-3.0.1-Singularity.simg`

[2020-08-27 17:31] nmerket commented on #590
You probably already knew this, but the singularity images are generated here:
https://github.com/NREL/docker-openstudio/tree/develop/singularity

[2020-08-28 16:09] brianlball opened #591 "bump analysis-gem for workflow addition"
https://github.com/NREL/OpenStudio-analysis-gem/pull/44
https://github.com/NREL/OpenStudio-PAT/issues/87

[2020-09-02 21:13] brianlball opened #593 "openstudio_meta install_gems"
if you have gems being pulled from github in your /server/Gemfile, after you run

the gems from github are not found when you try and run openstudio_meta run_analysis

[2020-09-02 22:50] brianlball commented on #587
https://github.com/NREL/OpenStudio-server/pull/594

[2020-09-03 16:26] tijcolem opened #595 "CI - Create a local k8s cluster for integration testing"
Add CI functionality to create a local k8s cluster so we can use this for integration tests.

I think we'll need:

- [microk8s](https://ubuntu.com/tutorials/install-a-local-kubernetes-with-microk8s#1-overview)
- https://github.com/NREL/openstudio-server-helm

Concerns:

Installing the microk8s on Travis should be straightforward but we'll need to make some changes in the helm chart as this current

[2020-09-11 15:38] DavidGoldwasser opened #596 "Add occupied htg and clg UH and measure warning counts to datapoints page for better visibility."
### General Issue / Feature Information

**Description**

For large automated algorithmic workflows unmet hours and measure warnings can also go un-noticed which may results in less than ideal simulation results. This is more visible in manual local PAT project but not on algorithmic jobs. Below is a list of the registerValues from OpenStudio Results that. I'm not exactly sure how you identify tha

[2020-09-11 16:50] DavidGoldwasser commented on #596
As a note two other types of warnings I don't know how to get yet but would like to add are forward translation warnings and \ EnergyPlus warnings (or at least severe warnings). Severe E+ warnings do not always results in failed simulation as they had in the past.

If I can get these at some point they could generate separate registerValues or could be rolled up with measure warnings?

[2020-09-17 22:01] brianlball commented on #587
done.
example usage:
https://github.com/NREL/OpenStudio-server/blob/develop/server/spec/features/openstudio_algo_spec.rb#L90

[2020-09-17 22:01] #587 closed

[2020-09-24 16:53] #481 closed

[2020-09-24 18:27] #509 closed

[2020-09-29 14:53] #505 closed

[2020-11-16 16:48] #591 closed

[2021-01-20 15:56] tijcolem opened #616 "Move Linux and MacOS CI jobs to GitHub Actions"
Setup CI for GitHub Actions to replace Travis as travis.org will be decommissioned and will begin phasing in credit based system for Mac OS runs.

[2021-01-25 16:37] #616 closed

[2021-03-12 18:23] chrisbalbach opened #618 "New Feature Request: Support for OS Server to provide concurrent project processing"
**Current Behavior :**
OS Server ‘projects' are limited to processing only one project at a time, on a given resource. OS server currently waits until the last datapoint in the current project has completed the compute **before** the next analysis begins on the next project in the project queue.

**Desired Behavior :**
We would like OS Server to have the ability to (within the constraints of a def

[2021-03-24 19:02] brianlball opened #619 "paperclip gem fails"
paperclip 4.3.7 require mimemagic 0.3.0 which got pulled from the interwebs

https://github.com/rails/rails/issues/41750

[2021-04-09 13:04] juliobetta commented on #619
hey @brianlball @DavidGoldwasser any ideas on how to fix that? I tried replacing mimemagic version directly in Gemfile.lock from my Dockerfile... off course it didn't work 😅

[code]

[2021-04-09 15:00] brianlball commented on #619
Tim made a fix in this branch for 3.1.0 https://github.com/NREL/OpenStudio-server/tree/3.1.X-LTS

[2021-04-09 15:00] #619 closed

[2021-06-02 15:41] jmarrec commented on #540
Permalink: https://github.com/NREL/openstudio-common-measures-gem/blob/916975bace57da4d784f7e73d85ea02eed15566c/lib/measures/ChangeBuildingLocation/measure.rb#L154-L165

[2021-07-12 15:25] tijcolem commented on #618
Cross listed here:  https://github.com/NREL/openstudio-server-helm/issues/23 & https://github.com/NREL/openstudio-server-helm/pull/24

The details on the change are in the PR,  but after looking into the queuing design of sever, this functionality was already supported but not enabled as the web-background service had a one resque worker by default which resulted in one project/analysis being ran

[2021-09-03 14:41] tijcolem commented on #618
Closed via https://github.com/NREL/openstudio-server-helm/pull/24

[2021-09-03 14:41] #618 closed

[2021-09-09 20:24] IainMacdonald opened #637 "Simulation not running in PAT (touch issue)"
### General Issue / Feature Information

**Description**
Running models in PAT fails when using openstudio-standards. This has been 'fixed' by touching the weather file before invoking the simulation via the CLI: https://github.com/NREL/openstudio-standards/blob/a61ba54ead336dbbd5376a8b0c3f1fb139aaebaa/lib/openstudio-standards/utilities/simulation.rb#L106

**Reproduction steps:**
1. Create instanc

[2021-09-09 20:26] IainMacdonald commented on #637
Over the next few days I'll try and find time to replicate this using a newer version of server . The nrcan_nrc branch was created off the nrcan branch and was tied to v3.0.1 of server. Now that the nrcan branch has been updated we'll need to update the nrcan_nrc branch.

[2021-09-10 19:35] IainMacdonald commented on #637
Tested with v 3.2.1 of server and the master branch of standards today and get the same response.

[2021-09-10 19:49] IainMacdonald commented on #637
Also tested 'chmod a+w in.epw' and get the same effect as with touch (i.e. the simulation works)

[2021-11-03 22:28] tijcolem opened #641 "Mongo Sort exceeded memory limit of 104857600"
This issue is also posted here but I think the fix will need to in server. https://github.com/NREL/openstudio-server-helm/issues/29

Error is below. For very large analyses it can git the memory limit in db for the sort operation. I think all that need to happen is to pass in the option {allow_disk_use: true}  to mongo. Either that or optimize the query and/or db.

[code]

[2021-11-05 21:16] #641 closed

[2021-11-18 18:55] #593 closed

[2021-11-19 17:05] tijcolem opened #645 "Worker and web nodes at scale"
Enhancement request

Worker nodes (pods in k8s) have their own local storage to process simulations. There are couple of issues related to this, especially at scale.

1 ) The initialization script that runs before the simulation starts, typically fetches custom gems from either rubygems or git. Some of these (e.g. standards) can be data intensive and slow down the process as it has to do this n-ti

[2022-03-14 15:55] tijcolem opened #648 "Web admin panel not showing cli version"
As posted on https://unmethours.com/question/70690/openstudio-cloud-management-console-shows-openstudio-cli-version-error/ the GUI is not reporting the version of the OpenStudio CLI.

I think it's a just a minor fix for this in the code.

https://github.com/NREL/OpenStudio-server/blob/develop/server/app/views/admin/index.html.erb#L75

https://github.com/NREL/OpenStudio-server/blob/develop/server/a

[2022-03-31 22:01] j-lorrey opened #649 "R Data Frame download options failing"
### General Issue Information

**Description**

The R Data Frame (Metadata) and R Data Frame (Results) download options are not working in the OpenStudio Cloud Management Console. The RServe log shows `RuntimeError (could not create R dataframe)`.
[code]
**Reproduction steps:**
1. Run a job in PAT.
2. Open the OpenStudio Cloud Management console and click "View Analysis" for that job.
3. Under dow

[2022-04-08 15:16] tijcolem commented on #649
@j-lorrey We had an issue with rserver not starting up correctly due to k8s cpu and mem limits being too aggressive. Can you please try the updated patched version https://github.com/NREL/openstudio-server-helm/releases/tag/v3.3.0-1 and let us know if this is still a problem.

[2022-04-08 17:40] DavidGoldwasser commented on #596
I don't think there is a feature here, but the updated openstuido_results warning section can be good to flag questionable datapoints that didn't fail but may not be ideal for use as optimum point. The warnings could de-rate or exclude a datapoint from use in algorithmic analysis.

[2022-04-08 17:40] #596 closed

[2022-04-12 19:48] j-lorrey commented on #649
Hi @tijcolem, I'm seeing this with the patched version as well.

[2022-04-26 20:13] brianlball commented on #649
the Rdata frame must be created in a common location between the web and Rserve containers.  I change the location to /mnt/openstudio/tmp

[2022-04-26 20:13] #649 closed

[2022-04-26 20:21] brianlball commented on #648
in oscli_cmd: ENV['OPENSTUDIO_EXE_PATH'] is not set in the web container.  so, https://github.com/NREL/OpenStudio-server/blob/develop/server/app/lib/utility/oss.rb#L22 gets raised.  then oscli_cmd gets set to cmd + oscli_bundle https://github.com/NREL/OpenStudio-server/blob/develop/server/app/lib/utility/oss.rb#L36.  the bundle commands run in the backtick shell https://github.com/NREL/OpenStudio-

[2022-04-27 20:15] brianlball commented on #540
@DavidGoldwasser is this still a thing or did we fix it with https://github.com/NREL/OpenStudio-PAT/issues/87 ?

[2022-04-27 21:44] brianlball commented on #510
https://github.com/NREL/OpenStudio-server/commit/951c569b475ef613c2f0c1b909600f2baeff9f4e

[2022-04-27 21:46] brianlball commented on #510
https://github.com/NREL/OpenStudio-server/blob/pareto/server/app/controllers/analyses_controller.rb#L575 .split() will force the list of strings into an array

[2022-05-05 20:22] #648 closed

[2022-05-05 20:22] #510 closed

[2022-05-05 20:26] brianlball commented on #250
only took 4 years... not bad

[2022-05-05 20:26] #250 closed

[2022-05-05 20:29] #392 closed

[2022-05-05 20:31] brianlball commented on #480
@nllong  is this still an issue?

[2022-05-06 15:21] nllong commented on #480
closing. If it pops up again we can reopen or create a new issue.

[2022-05-06 15:21] #480 closed

[2022-05-11 17:36] brianlball opened #661 "parallelcoords and scatter plots are showing all measure arguments as potential plot variables"
parallel lines plots and scatter plots are showing all measure arguments as potential plot variables.
only arguments that are :visualize == true should show.

this is bad:
![2022-05-11_13-07-03](https://user-images.githubusercontent.com/2235296/167911811-51bb89ce-bad0-47d8-9084-c056a700bcd7.png)

same here:
![2022-05-11_13-06-36](https://user-images.githubusercontent.com/2235296/167911937-4f886c56

[2022-05-11 17:57] brianlball commented on #661
mongoid 7.1 changed the behavior of '.or' to treat the receiver as one of the operands. This behavior matches that of ActiveRecord. Previously, or and nor added their parameters as additional conditions to the receiver. [changelog](https://www.mongodb.com/docs/mongoid/master/release-notes/mongoid-7.1/).
easiest fix is to use 'any_of' which behaves as 'or' did in Mongoid 7.0

[2022-05-11 18:32] brianlball commented on #661
fixed: https://github.com/NREL/OpenStudio-server/commit/f94846222f8756a4f2b0d9b8d624681e7131fe7d

all better:
![2022-05-11_13-09-36](https://user-images.githubusercontent.com/2235296/167920965-5b6cb5b6-246a-4447-b541-2a2a17663efa.png)

![2022-05-11_13-09-57](https://user-images.githubusercontent.com/2235296/167921100-a9d45c2d-0815-4f71-aada-d56982eb4251.png)

[2022-05-11 21:39] brianlball commented on #661
seems like this was impacting the download results files too...
![2022-05-11_17-37-21](https://user-images.githubusercontent.com/2235296/167952235-1097a5a5-21a8-4efa-a0af-1f9d42ecdd42.png)

adjusting the tests to compensate

[2022-05-12 20:01] brianlball opened #663 "radar and box plots no work"
see above

[19:35:57.521834 FATAL]
Mongo::Error::OperationFailure ([2:BadValue]: $in needs an array (on db:27017, modern retry, attempt 1)):
app/controllers/analyses_controller.rb:977:in `get_analysis_data'
app/controllers/analyses_controller.rb:717:in `analysis_data'

[2022-05-13 19:51] #456 closed

[2022-05-13 19:52] #242 closed

[2022-05-13 19:53] #574 closed

[2022-05-13 19:53] #331 closed

[2022-05-13 20:07] #377 closed

[2022-05-13 20:07] #397 closed

[2022-05-13 20:07] #493 closed

[2022-05-21 00:03] brianlball opened #666 "ubuntu 20.04"
bump to ubuntu 20.04 following docker-openstudio
also bump docker-openstudio-r

[2022-05-21 00:04] brianlball commented on #666
https://github.com/NREL/docker-openstudio/pull/150

[2022-05-24 06:41] #321 closed

[2022-05-24 18:56] brianlball opened #667 "sobol and morris plots"
sobol and morris can fail to produce plots.

[2022-05-24 19:24] #661 closed

[2022-05-24 19:27] #539 closed

[2022-05-24 20:33] #663 closed

[2022-05-25 15:24] brianlball commented on #637
@IainMacdonald is this still an issue?  if so, is there a reproducible example somewhere that we can run locally to test, etc?

[2022-05-25 17:48] IainMacdonald commented on #637
@brianlball - just checked and its still an issue. That said I'm working on our docker images - essentially we use your images and dump a local copy of standards in there. We had some quirky behavior in our test environment and I still need to double check the server workers in detail. So I'll be reviewing this again in the near future.

[2022-06-08 22:32] brianlball commented on #666
https://github.com/NREL/OpenStudio-server/pull/670

[2022-06-08 22:32] #666 closed

[2022-06-21 14:35] #667 closed

[2022-11-17 23:45] tijcolem opened #679 "Add envs for rails passenger vars"
Add support to pass in the following envs to web node to adjust these vars at runtime.

MAX_REQUESTS (passenger_max_pool_size)
MAX_POOL (passenger_pool_idle_time)

Also change the defaults to the suggested as these are needed to support algorithmic runs and 503 errors can result if the queue is not large enough.

passenger_max_request_queue_size 111;
passenger_max_pool_size 21;

[2022-11-17 23:48] tijcolem commented on #679
Transferred to https://github.com/NREL/openstudio-server-helm/issues/39

[2022-11-17 23:48] #679 closed